/* Chat.css - Defines the styles for the chat_join.html page */
/* Author: Emma Hobden */
/* Styles row class */
.row {
    border: 1px solid red;
    margin-left: auto !important;
    margin-right: auto !important;
    padding: 15px !important;
}


/*  ROW 1 - Room Name */
.row1 {
    background-color: slategray !important;
    color: white !important;
    font-size: 1.6em !important;
    text-align: center;
}

.courseInfo {
    color: #dfe7f0 !important;
    font-size: 0.8em !important;
}













/* ---------------------------------------------------- GENERAL ---------------------------------------------------- */
html, body {
    height:100%;
}
/* Styles the body of the page */
body {
    /*background-image: url('../images/teamChat2.png');*/
    /*background-size: cover;*/
}

/* Styles the python variable that holds the current local time date */
#currDate {
    font-size: 1.5em;
}

/* Styles the main-section div which holds all page content */
#main-section {
    padding: 10px 5px 10px 5px;
    width: 100%;
    border: 2px solid purple;
    height: 100%;
}

/*!* Styles Room Name Container *!*/
/*#chatWindowHeader {*/
/*    background-color: slategrey;*/
/*    height: 60px;*/
/*    width: 100%;*/
/*    top: 0px;*/
/*}*/

/*!* Styles Room Name p in #chatWindowHeader *!*/
/*#room-name {*/
/*    color: white;*/
/*    font-size: 2.5em;*/
/*}*/

/* -------------------------------------------------- LEFT COLUMN -------------------------------------------------- */

/* Styles Left Column - room info */
#leftColumn {
    width: 25%;
    float: left;
    height: 90%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow-y: auto; /*Make  this section scrollable */
    overflow-x: auto; /*Make  this section scrollable */
}


/* -------------------------------------------------- RIGHT COLUMN ------------------------------------------------- */

/* Styles Right Column - chat window */
#rightColumn {
    width: 70%;
    float: right;
    /*border: 2px solid red;*/
}

/* Styles div where messages are displayed */
#display-message-section {
    width: 100%;
    height: 80%;
    overflow-y: auto; /*Make  this section scrollable */
    padding: 5px;
    /*background-color: #F2F3F7;*/
}

/* Styles the div that holds the type msg & send msg & upload docs button */
#input-area {
    bottom: 0;
    width: 100%;
    margin-top: 10px;
}

/* Styles button that opens the upload form */
#uploadNewDocs {
    width: 40px;
    height: 40px;
    color: white;
    background-color: slategray;
    float: left;
    border-style: none;
    font-size: 1.5em;
}

#uploadNewDocs:hover {
    color: #888888;
}

/* Styles the div where user types msg */
#user_message {
    color: darkslategray;
    height: 40px;
    width: 80%;
}

/* Styles the button to send a msg */
#send_message {
    color: white;
    background-color: slategray;
    width: 10%;
    height: 40px;
    float: right;
    border-style: none;
}

/* Styles the window that holds upload docs form - hidden as default */
#upload {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    width: 600px;
    margin-left: 25%;
    margin-right: 25%;
    height: 200px;
    left: 0;
    top: 200px;
    padding: 20px;
    text-align: center;
    overflow: auto; /* Enable scroll if needed */
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

/* Styles the X to close the upload docs window */
.closeWindow {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.closeWindow:hover,
.closeWindow:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}






/* Current user's username in chat */
.my-username {
    font-weight: bold;
    font-size: 1.4em;
    color: #395065;
    padding-right: 5px;
}

/* Current user's msg timestamp */
.timestamp {
    color: #395065;
    font-size: 0.7em;
}

/* Current user's message bubble */
.my-msg {
    color: #395065;
    text-align: left;
    border: 2px solid #E8EAEF;
    background-color: #E8EAEF;
    border-radius: 20px 20px 20px 0px;
    padding-left: 10px;
    width: 55%;
    margin-right: 40%;
}

/* Other user's username in chat */
.other-username {
    font-weight: bold;
    font-size: 1.4em;
    color: #395065;
}

/* Other user's msg timestamp */
.other-timestamp {
    color: #395065;
    font-size: 0.7em;
    padding-right: 5px;
}

/* Other user's message bubble */
.others-msg {
    color: #395065;
    text-align: right;
    border: 2px solid #F2F3F7;
    background-color: #F2F3F7;
    border-radius: 20px 20px 0px 20px;
    padding-right: 10px;
    width: 55%;
    margin-left: 40%;
}


#privateButton {
   display: none;
}

#publicButton {
   display: none;
}

.uploadDocsButton {
    background-color: white;
    border: none;
    color: #26346f;
    font-size: 12px;
}

.uploadDocsButton:hover {
    text-decoration: underline;
}


/*.inputHide {*/
/*    display: none;*/
/*}*/


/*!* Styles all three column divs on the page *!*/
/*#left_column,*/
/*#middle_column,*/
/*#right_column {*/
/*    !*width: 33%;*!*/
/*    display: inline-block;*/
/*    !*border: 2px solid red;*!*/
/*    height: 100%;*/
/*    margin-top: 0px;*/
/*    vertical-align: middle;*/
/*}*/


/*!* Styles left column - online tutors, join room etc *!*/
/*#left_column {*/
/*    width: 29%;*/
/*}*/

/*!* Styles the python variable that holds the list of rooms *!*/
/*#left_column p {*/
/*    padding-left: 2em;*/
/*    padding-right: 2em;*/
/*    background-color: #E46D4E;*/
/*    color: white;*/
/*}*/

/*#demo {*/
/*    background-color: #E46D4E;*/
/*    color: white;*/
/*    width: 100%;*/
/*}*/

/* Styles the hover on the list of rooms */

/*!* Styles the Heading4 in left column *!*/
/*#left_column h4 {*/
/*    padding-left: 0.5em;*/
/*}*/


/* ------------------------------------------------- MIDDLE COLUMN ------------------------------------------------- */

/*!* Styles middle column - main chat window *!*/
/*#middle_column {*/
/*    width: 40%;*/
/*}*/


/*!* Styles right column - current date and time *!*/
/*#right_column {*/
/*    width: 29%;*/
/*}*/



