/* Chat.css - Defines the styles for the chat_join.html page */
/* Author: Emma Hobden */

/* ---------------------------------------------------- GENERAL ---------------------------------------------------- */

/* Styles the body of the page */
body {
    /*background-image: url('../images/teamChat2.png');*/
    /*background-size: cover;*/
}

/* Styles the main-section div which holds all page content */
#main-section {
    width: 100%;
    /*border: 2px solid blue;*/
}

/* Styles all three column divs on the page */
#left_column,
#middle_column,
#right_column {
    /*width: 33%;*/
    display: inline-block;
    /*border: 2px solid red;*/
    height: 100%;
    margin-top: 0px;
    vertical-align: middle;
}

/* -------------------------------------------------- LEFT COLUMN -------------------------------------------------- */

/* Styles left column - online tutors, join room etc */
#left_column {
    width: 29%;
}

/* Styles the python variable that holds the list of rooms */
#left_column p {
    padding-left: 2em;
    padding-right: 2em;
}

/* Styles the hover on the list of rooms */
#left_column p:hover {
    background-color: #E46D4E;
    color: #F8F3F2;
    cursor: pointer;
}

/* Styles the Heading4 in left column */
#left_column h4 {
    padding-left: 0.5em;
}


/* ------------------------------------------------- MIDDLE COLUMN ------------------------------------------------- */

/* Styles middle column - main chat window */
#middle_column {
    width: 40%;
}

/* Styles Room Name Container */
#chatWindowHeader {
    background-color: darkslategrey;
    height: 60px;
    top: 0px;
}

/* Styles Room Name p */
#room-name {
    color: white;
    font-size: 2.5em;
}

/* Styles div where messages are displayed */
#display-message-section {
    height: 450px;
    width: 100%;
    border: 2px solid darkslategray;
    overflow-y: auto; /*Make  this section scrollable */
    padding: 5px;
}

/* Styles the div that holds the type msg & send msg */
#input-area {
    bottom: 0;
    border: 2px solid darkslategray;
    width: 100%;
}

/* Styles the div where user types msg */
#user_message {
    color: darkslategray;
    height: 30px;
    width: 90%;
}

/* Styles the button to send a msg */
#send_message {
    color: white;
    background-color: #3F3D54;
    width: 10%;
    height: 30px;
    float: right;
    border: 2px solid #3F3D54;
}

/* Current user's username in chat */
.my-username {
    font-weight: bold;
    font-size: 1.4em;
    color: white;
    padding-right: 5px;
}

/* Current user's msg timestamp */
.timestamp {
    color: white;
    font-size:0.7em;
}

/* Current user's message bubble */
.my-msg {
    color: white;
    text-align: left;
    border: 2px solid #807E93;
    background-color: #807E93;
    border-radius: 20px 20px 20px 0px;
    padding-left: 10px;
    width: 60%;
    margin-right: 40%;
}

/* Other user's username in chat */
.other-username {
    font-weight: bold;
    font-size: 1.4em;
    color: white;
}

/* Other user's msg timestamp */
.other-timestamp {
    color: white;
    font-size:0.7em;
    padding-right: 5px;
}

/* Other user's message bubble */
.others-msg {
    color: white;
    text-align: right;
    border: 2px solid #A2A1AF;
    background-color: #A2A1AF;
    border-radius: 20px 20px 0px 20px;
    padding-right: 10px;
    width: 60%;
    margin-left: 40%;
}


/* -------------------------------------------------- RIGHT COLUMN ------------------------------------------------- */

/* Styles right column - current date and time */
#right_column {
    width: 29%;
}

/* Styles the python variable that holds the current local time date */
#currDate {
    font-size: 2em;
    /*float: right;*/
    padding-right: 1em;
    font-family: 'Lato', sans-serif;
}


#blog-posts {

}