/* Styles the body and html elements */
body, html {
  height: 100%;
}

/* Styles the div that holds the navigation bar */
#navigation {
    background-color: slategray;
    height: 80px;
}

/* Styles the unordered list in nav bar */
#navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* Styles each list item in nav bar */
#navigation li {
    display: inline;
    padding-top: 30px;
}

/* Styles nav bar links on the left side */
.quickLinks {
    float: left;
    display: block;
    height: 100%;
    width: 150px;
    text-align: center;
    padding: 5px;
}

/* Styles nav bar links */
#navigation a {
    display: block;
    color: white;
}

/* Styles nav bar links on mouse over */
#navigation a:hover {
    color: #395065;
    cursor: pointer;
    text-decoration: none;
}


/* Styles the text field in the login form */
.loginText {

}

/* Styles the login button */
.loginButton {

}

/* Styles the form that holds the login */
form {
    /*margin-top: 10px;*/
    margin-right: 20px;
    float: right;
    width: 30%;
    display: inline;
    /*border: 2px solid red;*/
    padding-top: 30px;
}

/*!* Styles the register new account link under the login form *!*/
.smRegisterLink {
    font-size: 0.9em;
    padding-top: 2px;
}

/* Styles login error msgs when invalid username or password is entered */
.loginErrorMsg {
    clear: both;
    background-color: rgba(245, 79, 78, 0.8);
    color: white;
    padding: 2px;
    width: 100%;
    height: 30px;
    text-align: center;
    vertical-align: center;
    font-size: 16px;
    top: -3px;
}

/* Styles the 'get started today' register button */
.regButton {
    background-color: #395065;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    width: 20%;
    margin-left: 40%;
    margin-right: 40%;
}

/* Styles register button on mouse over */
.regButton:hover {
    color: #395065;
    background-color: white;
    text-decoration: none;
}


/* Styles Section 1 - Desk bg image */
#section_1 {
    background-image: url('../images/login_deskMessy.png');
    height: 800px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Styles the main headline text */
.biggerText {
    font-size: 5em;
    padding-top: 40px;
    padding-left: 40px;
    color: white;
    font-family: 'Rock Salt', cursive;
}

/* Styles the sub-line of text */
.bigText {
    font-size: 4em;
    padding-top: 5px;
    padding-left: 40px;
    color: #cccd79;
}

/* Styles Section 2 - about our services */
#section_2 {
    width: 100%;
    height: 400px;
    background-color: white;

}

/* Styles the table that holds the about us icons */
#aboutIcons {
    margin-top: 60px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    /*border: 2px solid red;*/
    color: slategray;
}

/* Styles the table data that holds the icon imgs */
#icon1,
#icon2,
#icon3 {
    width: 33%;
    height: 50px;
    /*border: 2px solid red;*/
}

.rightBorder {
    border-right: 1px solid slategray;
}

.aboutHeadings {
    font-weight: bold;
}

/* Styles the table data that holds the icon imgs */
#aboutIcons td {
    padding: 5px;
    margin: 10px;
}

/* Styles Section 3 */
#section_3 {
    background-image: url('../images/login_deskCharts.jpg');
    height: 800px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
