/* Styles title of form */
#formTitle {
    width: 100%;
    color: slategrey;
    font-size: 3em;
    margin-bottom: 10px;
    text-align: center;
    border-bottom: 2px solid slategrey;
}


body {
    height: 100%;
}

#main-content {
    width: 70%;
    margin: 20px 15% 0 15%;
    /*border: 1px solid red;*/
}

.title {
    color: #2E2D4D;
    /*border-bottom: 2px solid #2E2D4D;*/
}

.setProgram {
    float: right;
}