body, html {
    width: 100%;
}

.col1_userInfo {
    text-align: center;
}

#col2_userInfo {
    width: 95%;
}

.profilePic {
    border-radius: 125px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.subheading {
    color: #2E2D4D;
    font-size: 2em;
    border-bottom: 2px solid #2E2D4D;
}

#mUsername {
    font-size: 2em;
    margin: 5px;
}

.table-responsive {
    /*border: 1px solid lightslategray;*/
    /*width: 98% !important;*/
    /*margin: 10px 1% 10px 1% !important;*/
    padding-left: 0 !important;
    padding-right: 0 !important;
    max-height: 300px;
    overflow-y: scroll;
    overflow-x: scroll;
}


