
/* Styles div that holds all Rows */
#rowContainer {
    /*border: 2px solid green;*/
    width: 90%;
    margin: 15px 5% 0 5%;
    /*height: calc(100% - 80px);*/
    height: 100%;

}

/* Styles link to go back to previous page */
.goBack {
    color: #D57356;
}

/* Styles row class */
.row {
    /*border: 1px solid red;*/
    margin-left: auto !important;
    margin-right: auto !important;
    padding: 15px !important;
}

/*  ROW 1 - button to go back */
.row1 {
    /*padding: 15px !important;*/
}

/*  ROW 2 - Post Title */
.row2 {
    /*background-color: pink !important;*/
    background-color: slategray !important;
    /*height: 40px !important;*/
    color: white !important;
    font-size: 1.6em !important;
    text-align: center;
    /*padding: 15px !important;*/
}

/*  ROW 3 - Author | Time, Date  */
.row3 {
    padding: 5px !important;
}

/*  ROW 4 - Post Content */
.row4 {
    background-color: #dfe7f0 !important;
    color: #2E2D4D !important;
}

/*  ROW 3 - Comments Title */
.row5 {
    color: #2E2D4D; !important;
    font-size: 1.6em !important;
    border-bottom: 3px solid #2E2D4D; !important;
}

/*  ROW 6 - Write Comment / Submit Comment */
.row6 {

}

/*  ROW 7 - All Comments */
.row7 {
    max-height: 500px !important;
    overflow-y: scroll !important;
}

.courseInfo {
    color: #dfe7f0 !important;
    font-size: 0.8em !important;
}

.join {
    color: white !important;
    font-size: 0.8em !important;
}


/* Styles form-control class */
.form-control {
    width: 100% !important;
    margin-left: 0 !important;
}

/* Styles post author link */
#author {
    text-align: left;
}

/* Styles post date & time */
#dateTime {
    text-align: right;
}

#author,
#dateTime {
    width: 49%;
    display: inline-block;
    height: 30px;
    margin-top: 0px;
    vertical-align: middle;
    text-size: 0.9em;
    color: slategray;
}


/* Styles Post Content */
#content {
}







































/*#bg {*/
/*    !*border: 3px solid red;*!*/
/*    width: 100%;*/
/*    height: calc(100% - 80px);*/
/*    !*background: pink;*!*/
/*    !*background-image: url('../images/551.jpg');*!*/
/*    !*background-size: cover;*!*/
/*    !*!*background-clip: content-box;*!*!*/

/*}*/

/*.main-content {*/
/*    width: 70%;*/
/*    margin: 10px 15% 10px 15%;*/
/*    !*border: 2px solid red;*!*/
/*    height: 99%;*/
/*    !*overflow-y: scroll;*!*/
/*    border: 3px solid green;*/
/*}*/

/*.row {*/
/*    width: 90% !important;*/
/*    margin: 10px 5% 10px 5% !important;*/
/*}*/

/*.title1 {*/
/*    font-size: 1.6em;*/
/*    border-bottom: 2px solid #2E2D4D;*/
/*    text-align: center;*/
/*}*/

/*.title2 {*/
/*    color: #2E2D4D;*/
/*    font-size: 1.6em;*/
/*}*/

/*.forumsPost {*/
/*    !*border: 2px solid red;*!*/
/*    padding: 20px;*/
/*    min-height: 100px;*/
/*    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
/*}*/

/*.addPost_link {*/
/*    color: #D57356;*/
/*}*/

/*.tableFixHead {*/
/*  overflow-y: auto;*/
/*  height: 460px;*/
/*    width: 90% !important;*/
/*    margin: 10px 5% 10px 5% !important;*/
/*    background-color: white;*/
/*    !*opacity: 0.6%;*!*/
/*}*/

/*.tableFixHead table {*/
/*  border-collapse: collapse;*/
/*  width: 100%;*/
/*}*/

/*.tableFixHead th,*/
/*.tableFixHead td {*/
/*  padding: 8px 16px;*/
/*}*/

/*.tableFixHead th {*/
/*  position: sticky;*/
/*  top: 0;*/
/*  background: #778899;*/
/*    color: white;*/
/*}*/

/*.table {*/
/*    border: 2px solid green;*/
/*    height: 460px;*/
/*    overflow-y: scroll;*/

/*    width: 90% !important;*/
/*    margin: 10px 5% 10px 5% !important;*/


/*}*/

/*tbody {*/
/*    border: 2px solid green;*/
/*    height: 460px;*/
/*    overflow-y: scroll;*/
/*}*/

/*.table_head thead th {*/
/*    border: 2px solid blue;*/
/*    position: sticky;*/
/*}*/

/*!* Just common table stuff. Really. *!*/
/*table  { border-collapse: collapse; width: 100%; }*/
/*th, td { padding: 8px 16px; }*/
/*th     { background:#eee; }*/


/*#mainContent {*/
/*    width: 100%;*/
/*    !*border: 2px solid red;*!*/
/*    display: inline-block;*/
/*    height: 100%;*/
/*}*/

/*!* Styles all three column divs on the page *!*/
/*#left_column,*/
/*#right_column {*/
/*    display: inline-block;*/
/*    !*border: 2px solid red;*!*/
/*    margin-top: 0px;*/
/*    vertical-align: middle;*/
/*}*/

/*#left_column {*/
/*    width: 69%;*/
/*    height: 100%;*/

/*}*/

/*#right_column {*/
/*    width: 30%;*/
/*    margin-top: -50px;*/
/*    height: 600px;*/
/*    overflow-y: scroll;*/
/*}*/


/*#cardStyle {*/
/*    width: 80%;*/
/*    margin-left: 10%;*/
/*    margin-right: 10%;*/
/*    margin-top: 5%;*/
/*    text-align: center;*/
/*    !*padding: 20px;*!*/
/*    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
/*}*/