/* Chat.css - Defines the styles for the chat_join.html page */
/* Author: Emma Hobden */

/* ---------------------------------------------------- GENERAL ---------------------------------------------------- */

/* Styles the body of the page */
body {
    /*background-image: url('../images/teamChat2.png');*/
    /*background-size: cover;*/
}

/* Styles the main-section div which holds all page content */
#main-section {
    width: 100%;
    border: 2px solid blue;
}

/* Styles all three column divs on the page */
#left_column,
#right_column {
    /*width: 33%;*/
    display: inline-block;
    border: 2px solid red;
    height: 100%;
    margin-top: 0px;
    vertical-align: middle;
}

/* -------------------------------------------------- LEFT COLUMN -------------------------------------------------- */

/* Styles left column - online tutors, join room etc */
#left_column {
    width: 49%;
}

/* Styles the python variable that holds the list of rooms */
#left_column p {
    padding-left: 2em;
    padding-right: 2em;
}

/* Styles the hover on the list of rooms */
#left_column p:hover {
    background-color: #E46D4E;
    color: #F8F3F2;
    cursor: pointer;
}

/* Styles the Heading4 in left column */
#left_column h4 {
    padding-left: 0.5em;
}


/* ------------------------------------------------- MIDDLE COLUMN ------------------------------------------------- */



/* -------------------------------------------------- RIGHT COLUMN ------------------------------------------------- */

/* Styles right column - current date and time */
#right_column {
    width: 49%;
}

/* Styles the python variable that holds the current local time date */
#currDate {
    font-size: 2em;
    /*float: right;*/
    padding-right: 1em;
    font-family: 'Lato', sans-serif;
}


#blog-posts {

}