/* register.css - Defines the style for the registration page */

/* Styles the body of the page */
body {
    /*background-image: url('../images/whiteDesk_02.jpg');*/
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/
    /*height: 650px;*/
}

/* Style the navigation menu */
.navbar {
    width: 100%;
    background-color: darkslategrey;
}

/* Navigation links */
.navbar a,
.navbar a.active,
.navbar a.visited {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 15px;
  width: 20%; /* 5 equal-width links */
  text-align: center;
}

/* Add a background color to navbar on mouse-over */
.navbar a:hover {
    background-color: darkslategrey;
    color: lightslategray;
    text-decoration: none;
}

/* Add responsiveness - on screens less than 500px, make the navigation links appear on top of each other, instead of next to each other */
@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
    width: 100%;
    text-align: left; /* If you want the text to be left-aligned on small screens */
  }
}

#main-section {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    border: 3px solid darkslategray;
}

/* Hides the student reg form until user clicks on it */
#student_regForm {
    display: none;
}

/* Hides the tutor reg form until user clicks on it */
#tutor_regForm {
    display: none;
}

/* Styles table that holds choose form links */
#chooseFormType {
    width: 100%;
}

/* Styles the choose form links */
#chooseFormType p {
    text-align: center;
    background-color: darkslategray;
    color: white;
    font-size: 2em;
}

/* Styles the choose form links on mouse-over */
#chooseFormType p:hover {
    cursor: pointer;
}

/* Styles the registration form */
#regForm,
#tutor_regForm,
#student_regForm {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    padding: 20px;
    /*background-color: darkslategray;*/
}

/* Styles register form inputs */
#regForm input[type=text],
#regForm input[type=password],

#tutor_regForm input[type=text],
#tutor_regForm input[type=password],

#student_regForm input[type=text],
#student_regForm input[type=password] {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 20px;
    border: none;
    font-size: 20px;
    background-color: white;
    color: darkslategrey;
}

/* Styles register button */
.regButton {
    width: 30%;
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #f56443;
    color: white;
    border: 3px solid #f56443;
}

/* Styles register button on mouse-over */
.regButton:hover {
    background-color: white;
    color: #f56443;
    border: 3px solid #f56443;
}