/* register.css - Defines the style for the registration page */

/* Styles the body of the page */
body {
    /*background-image: url('../images/whiteDesk_02.jpg');*/
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/
    /*height: 650px;*/
}


/* Styles the registration form */
#regForm {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5%;
    text-align: center;
    padding: 20px;
    /*border: 3px solid #395065;*/
    /*background-color: darkslategray;*/
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Styles register form inputs */
#regForm input[type=text],
#regForm input[type=password] {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 20px;
    border: none;
    font-size: 20px;
    background-color: white;
    color: darkslategrey;
}

#title {
    width: 100%;
    color: slategrey;
    font-size: 3em;
    margin-bottom: 10px;
    /*background-color: slategray;*/
    /*margin-left: 0px;*/
    /*margin-right: 0px;*/

}

/* Styles register button */
.regButton {
    width: 30%;
    margin-top: 10px;
    margin-right: 35%;
    margin-bottom: 10px;
    margin-left: 35%;
    background-color: #395065;
    color: white;
    border: 3px solid #395065;
}

/* Styles register button on mouse-over */
.regButton:hover {
    background-color: white;
    color: #395065;
    border: 3px solid #395065;
}