<!DOCTYPE html>
<html lang=en>
<head>
    <meta charset=utf-8>

    <title>About Me</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cardStyleForm.css') }}">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" media="screen">
</head>

<body>

    <div id="formTitle">Edit Your About Me Section</div>

    <form method="POST"  >

        <textarea rows="10" cols="165" name="about_me_profile">
            {{ user_object.about_me }}
        </textarea>

        <br><br>
        <input type="submit" value="Update Profile" formmethod="post"/>
        <a href="{{ url_for('profile') }}" class="button">Back to Profile Page</a>
    </form>

</body>
</html>
