<html lang=en>
<head>
    <meta charset=utf-8>
    <style>
        @import url('https://fonts.googleapis.com/css?family=Beth+Ellen&display=swap');
        @import url('https://fonts.googleapis.com/css?family=Dosis:200&display=swap');
    </style>

    <title> fixQuick Chatkit </title>

    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/chat.css')}}">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" media="screen">
</head>

<body>

    <div class="navbar">
        <a class="logo" href="#">Home</a>
        <a href="{{ url_for('profile', username=username) }}">{{ username }}</a>
        <a href="#">Forums</a>
        <a href="{{ url_for('chat', username=username) }}" >Chat</a>
        <a href="#">Saved</a>
        <a href="{{ url_for('logout') }}"> Logout </a>
    </div>



    <!-- <nav id="main-section"> -->
    <div id="main-section">

         Add a post

    </div>

    <div id="regForm">
        <form action="{{ url_for('add_post')}}", method="post">
            <div>
                {{ post_form.title(class_='form-control', placeholder='Title', autocomplete='off', autofocus=true) }}
                <ul>
                    {% for error in post_form.title.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>

             <div>
                {{ post_form.subtitle(class_='form-control', placeholder='SubTitle', autocomplete='off') }}
                <ul>
                    {% for error in post_form.subtitle.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>

            <div>
                {{ post_form.content(class_='form-control', placeholder='Content', autocomplete='off') }}
                <ul>
                    {% for error in post_form.content.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>


            <div>
                {{ post_form.submit_button }}
            </div>

        </form>

    </div>




    <script type="text/javascript">
        const username = `{{ username }}`;
        const mesage_object = `{{ message_object }}`
    </script>

    <!-- SocketIO JS -->


  </body>
</html>