<html lang=en>
<head>
    <meta charset=utf-8>

    <title>Create A New Room</title>

    {#    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">#}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cardStyleForm.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/addNewRoom.css') }}">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" media="screen">
</head>

<body>

{% extends "navbar.html" %}
{% block content %}

    <div id="main-section">

    <div id="regForm">
        <div id="formTitle"> Create A New Room</div>

        <form action="{{ url_for('add_room') }}" , method="post">
            <div>
                {{ post_form.subtitle(class_='form-control', placeholder='Room Name', autocomplete='off', autofocus=true) }}
                <ul>
                    {% for error in post_form.subtitle.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>

            <div>
                {{ post_form.room_course(class_='form-control') }} <br>
                {{ post_form.content(class_='form-control', placeholder='Content', autocomplete='off') }}
                <ul>
                    {% for error in post_form.content.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>

            <div>{{ post_form.submit_button(class_='submitButton') }}</div>
            {{ post_form.csrf_token }}

        </form>

    </div> <!-- end regForm -->


</div> <!-- end main section -->


{% endblock %}
</body>
</html>