<html lang=en>
<head>
    <meta charset=utf-8>
    <style>
        @import url('https://fonts.googleapis.com/css?family=Beth+Ellen&display=swap');
        @import url('https://fonts.googleapis.com/css?family=Dosis:200&display=swap');
    </style>

    <title> Admin Portal </title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/chat.css') }}">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" media="screen">


    <script type="text/javascript" src="//code.jquery.com/jquery-3.2.1.min.js"></script>

         <script src="{{ url_for('static', filename='js/jquery.js') }}">

    </script>
</head>

<body>

{#{% extends "navbar.html" %}#}
{#{% block content %}#}

{#<div class="navbar">#}
{#    <a class="logo" href="#">Home</a>#}
{#    <a href="{{ url_for('profile', username=username) }}">{{ username }}</a>#}
{#    <a href="#">Forums</a>#}
{#    <a href="{{ url_for('chat', username=username) }}">Chat</a>#}
{#    <a href="{{ url_for('all_users') }}">Users</a>#}
{#    <a href="{{ url_for('logout') }}"> Logout </a>#}
{#</div>#}


<!-- div main section starts -->
<div id="main-section">


    <!-- Left Column - Join Room - Online Tutors etc -->
    <div id="left_column">

        <h4><a href="{{ url_for('all_users') }}">Users Page</a> </h4> <br>

            <h5>View Recent Room:</h5>

            {% for room in blog_posts %}
                <div>
                    <a href="{{ url_for('room', room_id=room.id) }}">
                        <div id="memberNumber"></div>
                        <h5>{{ room.type|upper }} : {{ room.room_title }} - {{ room.title }}</h5>
                        by {{ room.author }} on {{ room.date_posted.strftime('%b %d, %Y') }} at {{ room.date_posted.strftime('%I' ':' '%M %p') }} </a>
                </div>

            {% endfor %}





{#        <div id="roomSection{{ user.id }}" class="panel panel-default">#}
{#        <div class="panel-heading">#}
{#          <h3 class="panel-title">User Name: <span id="memberNumber{{ user.id }}">{{ user.username }} </span> Creator: {{ user.firstname }} </h3>#}
{#        </div>#}
{#        {% endfor %}<br>#}



    </div> <!-- end of left column -->

    <!-- Middle Column - Type Message area -->
    <div id="middle_column">
        {% for room in blog_posts %}

            <a href="{{ url_for('room', room_id=room.id) }}"/>
      <div id="roomSection{{ room.id }}" class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Room: <span id="memberNumber{{ room.id }}">{{ room.room_title }} </span> Creator: {{ room.author }} </h3>
        </div>
            </a>
        <div class="panel-body">
          <div class="form-inline">


                  <b>ID:</b> {{ room.id }} <b>Type:</b> {{ room.type }} <b>Visible:</b> {{ room.visible }}<br>
            <div class="form-group">
              <label for="nameInput{{ room.id }}">Title</label>
              <input type="text" class="form-control" id="nameInput{{ room.id }}" value="{{ room.title }}">
            </div>
            <div class="form-group">
              <label for="emailInput{{ room.id }}">Room Name</label>
              <input type="text" class="form-control" id="titleInput{{ room.id }}" value="{{ room.room_title }}">
            </div>

            <div class="form-group">
              <label for="contentInput{{ room.id }}">Content</label>
              <input type="text" class="form-control" id="contentInput{{ room.id }}" value="{{ room.content }}">
            </div><br>


            <button class="btn btn-primary updateButton" room_id="{{ room.id }}">Update Room</button>

            <button class="btn btn-danger deleteButton" room_id="{{ room.id }}">Delete Room</button>

          </div>
        </div>
      </div>

      {% endfor %}

    </div><!-- end middle_column div -->


    <!-- right_column div -->
    <div id="right_column">



        <span id="currDate">{{ date_stamp }}</span>

    <h5>Pending Tutor Applications:</h5>

{##}
{#          <div id="blog-posts">#}
{#            <a href="{{ url_for('add_post') }}">Add A Room Post</a> <br>#}
{#            <h5>View Recent Room Posts:</h5>#}
{##}
{#            {% for room in blog_posts %}#}
{#                <div>#}
{#                    <a href="{{ url_for('room', post_id=room.id) }}">#}
{#                        <div id="memberNumber"></div>#}
{#                        <h5>{{ room.type|upper }} : {{ room.room_title }} - {{ room.title }}</h5>#}
{#                        by {{ room.author }} on {{ room.date_posted.strftime('%b %d, %Y') }} at {{ room.date_posted.strftime('%I' ':' '%M %p') }} </a>#}
{#                </div>#}
{##}
{#            {% endfor %}#}

      {% for tutor in tutors %}
      <div id="tutorSection{{ tutor.user_id }}" class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Tutor Application <span id="memberNumber{{ tutor.tutor_id }}"> User Id: {{ tutor.user_id }} {{ tutor.tutor_status }}</span> </h3>
        </div>
            </a>
        <div class="panel-body">
          <div class="form-inline">
            <div class="form-group">
              <label for="userID{{ tutor.user_id }}">User Id</label>
              <span id="userID{{ tutor.user_id }}">{{ tutor.user_id }} </span>
            </div><br>

              <div class="form-group">
              <label for="tutID{{ tutor.tutor_id }}">Tutor Id</label>
                  <span id="tutID{{ tutor.tutor_id }}">{{ tutor.tutor_id }} </span>
            </div><br>
            <div class="form-group">
              <label for="aboutTutor{{ tutor.user_id }}">Reason: </label>
              <span id="aboutTutor{{ tutor.tutor_id }}" value="{{ tutor.about_tutor }}">{{ tutor.about_tutor }}</span>
            </div>
            <br>
            <div class="form-group">
                <label for="statusTutor{{ tutor.tutor_status }}">Status: </label>
                <span id="statusTutor{{ tutor.tutor_status }}">{{ tutor.tutor_status }} </span>
            </div> <br>
{#                {{ tutor.tutor_status }}#}
             <div class="form-group">
             <b>Credentials:</b> <a href="{{ url_for('download_cred', dl_name=tutor.credentials_file_name) }}">{{ tutor.credentials_file_name }}</a>
{#              <input type="text" class="form-control" id="titleInput{{ tutor.tutor_id }}" value="{{ tutor.credentials_file_name }}" y>#}
            </div>

               <div class="form-group">
                <label for="appComments{{ tutor.application_comments }}">Application Comments: </label>
                <input type="text" class="form-control" id="appComments{{ tutor.application_comments }}" value="{{ tutor.application_comments }}">
            </div>

            <button class="btn btn-primary approveTutor" user_id="{{ tutor.user_id }}">Approve</button>

            <button class="btn btn-warning denyTutor" user_id="{{ tutor.user_id }}">Deny</button>

          </div>
        </div>
      </div>

      {% endfor %}


        </div>

    </div><!-- end right_column div -->

</div> <!--end main section-->


<script type="text/javascript">
    const username = `{{ username }}`;
    const mesage_object = `{{ message_object }}`
</script>
{##}
{#<!-- Custom Chat JS -->#}
{#<script src="{{ url_for('static', filename='js/chat_page.js') }}">#}
{##}
{#</script>#}
{#<!-- SocketIO JS -->#}
{#<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"#}
{#        integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>#}
{##}
{#<!-- CustomSocketIO JS -->#}
{#<script src="{{ url_for('static', filename='js/socketio.js') }}">#}
{##}
{##}
{#</script>#}

{#{% endblock %}#}
</body>
</html>


