<html lang=en>
<head>
    <meta charset=utf-8>

    <title> Admin Portal </title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" media="screen">

    <script type="text/javascript" src="//code.jquery.com/jquery-3.2.1.min.js"></script>

    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
</head>

<body>
{% extends "navbar_admin.html" %}
{% block content %}
    <div id="main-content">


        <div class="sectionTitle">Approved Tutors</div>

            {% for tutor in tutors_approved %}

                <div id="tutorSection{{ tutor.user_id }}" class="panel panel-default">

                    <div class="panel-heading">
                        <h3 class="panel-title">{{ tutor.firstname }} {{ tutor.lastname }}</h3>
                    </div>

                    <div class="panel-body">
                    <div class="form-inline">
                        <p>
                            <span class="subHeading">Username: </span>
                            <a href="{{ url_for('pub_profile', username=tutor.username) }}">{{ tutor.username }} </a>
                        </p>

                        <p>
                            <span class="subHeading">Reason: </span>
                            {{ tutor.about_tutor }}
                        </p>

                        <p>
                            <span class="subHeading">Status: </span>
                            {{ tutor.tutor_status }}
                        </p>

                        <p>
                            <span class="subHeading">Application: </span>
                            <a href="{{ url_for('check_application', user_id=tutor.user_id) }}">{{ tutor.username }}' Application </a>

                        </p>

{#                            {% if tutor %}#}
{#                            {% for t in tutor_courses %}#}
{#                            {{ tutor.course_name }}#}
{##}
{#                                {% endfor %}#}
                        <p>
                            <span class="subHeading">Credentials: </span>
                            <a href="{{ url_for('download_cred', dl_name=tutor.credentials_file_name) }}">{{ tutor.credentials_file_name }}</a>
                        </p>

                        <p>
                            <span class="subHeading">Feedback: </span>
                            {{ tutor.application_comments }}
                        </p>


                    </div> <!-- end form-inline class -->

                </div><!-- end panel-body class -->

                </div><!-- end tutorSection ID -->

            {% endfor %}






















    </div> <!-- end main content -->

{% endblock %}
</body>
</html>

