<html lang=en>
<head>
    <meta charset=utf-8>

    <title> Admin Portal </title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" media="screen">

    <script type="text/javascript" src="//code.jquery.com/jquery-3.2.1.min.js"></script>

    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
</head>

<body>
{% extends "navbar_admin.html" %}
{% block content %}
    <div id="main-content">

        <div class="sectionTitle">Community Forum Posts</div>


        {% for post in forum_posts %}

            <div id="roomSection{{ post.id }}" class="panel panel-default">

                <div class="panel-heading">
                    <h3 class="panel-title">
                            <span id="memberNumber">
                                <a href="{{ url_for('studentpost', studentpost_id=post.id) }}">Post {{ post.id }} : {{ post.title }} </a>
                            </span>
                    </h3>
                </div>

                <div class="panel-body">
                    <div class="form-inline">

                        <div class="row">

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="emailInput{{ post.id }}">Post Title: </label>
                                    <br>
                                    <input type="text" class="form-control" id="titleInput{{ post.id }}"
                                           value="{{ post.title }}">
                                </div>

{#                                <div class="form-group">#}
{#                                    <label for="nameInput{{ post.id }}">Title: </label>#}
{#                                    <br>#}
{#                                    <input type="text" class="form-control" id="nameInput{{ post.id }}"#}
{#                                           value="{{ post.title }}">#}
{#                                </div>#}
{##}
{#                                <br>#}

                                <div class="form-group">
                                    <label for="contentInput{{ post.id }}">Content: </label>
                                    <br>
                                    <textarea rows="4" cols="55" class="form-control"
                                              id="contentInput{{ post.id }}">{{ post.content }}</textarea><br>
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <p><span class="subHeading">Author: </span>
                                    <a href="{{ url_for('pub_profile', username=post.author) }}"> {{ post.author|upper }}</a>
                                </p>
{##}
{#                                <p><span class="subHeading">Public: </span>#}
{#                                    {{ room.visible }}</p>#}
{##}
                                <p><span class="subHeading">Date: </span>
                                    {{ post.date_posted.strftime('%Y-%m-%d') }}</p>


                                <p><span class="subHeading">Course Name: </span>
                                    {{ post.post_course }}</p>

                                  <p><span class="subHeading">Course Code: </span>
                                    {{ post.post_course_code }}</p>
                            </div>

                            <div class="col-sm-2">
                                <a href="#">
                                    <button class="btn btn-primary updatePost" post_id="{{ post.id }}">Update Post
                                    </button>
                                </a><br><br>

                                <a href="#">
                                    <button class="btn btn-danger deletePost" post_id="{{ post.id }}">Delete Post
                                    </button>
                                </a><br><br>

                                <a href="#">
                                    <button class="btn btn-warning deletePostComments" post_id="{{ post.id }}">Clear Post
                                    </button>
                                </a><br><br>

{#                                <a href="#">#}
{#                                    <button class="btn btn-danger deleteRoomUploads" room_id="{{ room.id }}">Clear#}
{#                                        Files#}
{#                                    </button>#}
{#                                </a>#}
                            </div>

                        </div><!-- end class row -->

                        <br><br>

                        <div class="row">
                            <div class="col-sm-6">
{#                                <button class="btn btn-primary updateButton" post_id="{{ post.id }}">Update</button>#}
{#                                <button class="btn btn-danger deleteButton" _id="{{ post.id }}">Delete</button>#}
{#                                <button id="privateButton{{ post.id }}" class="btn btn-warning privateButtonAdmin" room_id="{{ post.id }}">Private</button>#}
{#                                <button id="publicButton{{ post.id }}" class="btn btn-success publicButtonAdmin" room_id="{{ post.id }}">Public</button>#}
                            </div>
                            <div class="col-sm-3">

                            </div>
                            <div class="col-sm-3">

                            </div>
                        </div>


                    </div> <!-- end div class form-inline -->
                </div> <!-- end div class panel-body -->
            </div> <!-- end div id roomSection -->

        {% endfor %}

    </div>


{% endblock %}


</body>
</html>

