<!--
  -- tutorPosts.html
  -- Shows all posts all tutors have made.
  -->

<html lang=en>
<head>
    <meta charset=utf-8>

    <title>Available Tutors</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/viewTutorPosts.css') }}">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" media="screen">

        <script type="text/javascript" src="//code.jquery.com/jquery-3.2.1.min.js"></script>

{#    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>#}

    <script>




    $(document).ready(function () {

    $('#createRoom').hide();

        var roleName = `{{ role_name }}`;

        if (roleName === 'Tutor' || roleName === 'Admin' ) {

                $('#createRoom').show();

        }


        });


</script>

</head>

<body>
{% extends "navbar.html" %}
{% block content %}


    <div id="main_container">


        <div id="top_container">

<br>

            <div class="row">
                <div class="col-sm-12">
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            <ul class=flashes>
                                {% for message in messages %}
                                    <li>{{ message }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    {% endwith %}

{#                    <form method="POST" action="">#}
{#                        {{ search_form_tutor.csrf_token }}#}
{#                        {{ search_form_tutor.select(class_='form-control filter_type') }}<br>#}
{#                        {{ search_form_tutor.search(class_='form-control filter_string', placeholder='Search Tutors') }} <br>#}
{#                        <input type="submit" class="btn btn-primary" value="Search">#}
{##}
{#                        <a href="{{ url_for('all_tutors') }}">#}
{#                            <input type="" class="btn btn-warning" value="Reset Values">#}
{#                        </a>#}
{##}
{#                    </form>#}

                    <br><br>

                </div>
            </div> <!-- end row 1 -->

            <!-- Row 2 -->
            <div class="row title1">
                <div class="col-sm-12">
                    <span class="title2">All QuickFix Tutors</span>
                </div>
            </div> <!-- end row 2 -->

        </div>


        <div id="bottom_container">
            <!-- for every tutor room, create 3 new rows -->
            {% for tutor in tutors_approved %}

                <div class="row_a_container">
                <div class="row row_a">

                    <div class="col-sm-2">
                        <div id="userPhoto">
                            <img src="{{ url_for('uploaded_file', filename=tutor.user_photo) }}" height="100px" width="100px" class="profilePic"/>
                        </div>

                    </div><!-- end row_a col 1 -->

                    <div class="col-sm-8">
                        <span class="showRoomTitle">
                            <a href="{{ url_for('pub_profile', username=tutor.username) }}" class="showRoomTitle">{{ tutor.username }} </a>
{#                            <a href="{{ url_for('room', room_id=room.id) }}" class="showRoomTitle">{{ room.room_title }}</a>#}
                        </span><br>
                        <span class="showCourse">Name: {{ tutor.firstname }} {{ tutor.lastname }}</span><br>
                        <span>Tutor ID: {{ tutor.tutor_id }}</span><br>
                        <span class="showAuthor">
                             <a href="{{ url_for('tutor_details', user_id=tutor.user_id) }}"> View Details</a>
                        </span>
{#                        <span class="showTime">at time </span>#}
                    </div>

                    <div class="col-sm-2 postDate">
                        <span class="showDate">Ratings: {{ tutor.tutor_sessions }} </span>
                    </div>

                </div> <!-- end row a -->
                </div>
            {% endfor %}

        </div>

    </div>


{% endblock %}


</body>
</html>










