<html lang=en>
<head>
    <meta charset=utf-8>
    <style>
        @import url('https://fonts.googleapis.com/css?family=Beth+Ellen&display=swap');
        @import url('https://fonts.googleapis.com/css?family=Dosis:200&display=swap');
    </style>

    <title> fixQuick Chatkit </title>

    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/chat.css')}}">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" media="screen">
</head>

<body>

    <div class="navbar">
        <a class="logo" href="#">Home</a>
        <a href="{{ url_for('profile', username=username) }}">{{ username }}</a>
        <a href="#">Forums</a>
        <a href="#" >Chat</a>
        <a href="#">Saved</a>
        <a href="{{ url_for('logout') }}"> Logout </a>
    </div>



    <!-- <nav id="main-section"> -->
    <div id="main-section">


    <span id="currDate">{{ date_stamp }}</span>


        <nav id="sidebar">
        <h4>Pick A Room To Find A Tutor</h4>
        Tutors Online:

         Tutors Online:

          <br>
            {% for user in online_users %}
                        {{ user.username }}
            {%  endfor %}<br><br>
            Join Private Room:

           <form method="POST">
            {{ form.hidden_tag() }}
            {{ form.room_made.label }}: {{ form.room_made() }} {% for error in form.room_made.errors %}{{ error }}{% endfor %}<br>
            {{ form.submit_button() }}
           </form>
            Create Room to Join:


            <input type="text" id="room_to_join" name="room_to_join">
            <button type="submit" id="join_room">Join Room</button>

            <br>
            <br>

            General Rooms:
            <br>
            {% for room in rooms %}
                <p class="select-room">{{ room|title }}</p>
            {% endfor %}

        </nav>

        <!-- Message area -->
        <div id="rightside-panel">


        <div id="chatWindowHeader">
                <span id="room-name"></span>
                <span id="tester"></span>
            </div>
            <!-- Display message -->
            <div id="display-message-section" >
                {%  for msg in message_object %}
                    <li>{{ msg.username }}
                        {{ msg.message }}
                        {{ msg.room }}
                    </li>

                {%  endfor %}

            </div>

            <!-- Input message
            <div id="input-area">
                <input type="text" id="user_message" placeholder="Type here..." autocomplete="off">
                <button type="button" id="send_message">SEND</button>

            </div>
            -->
            <div id="input-area">
                <input type="text" id="user_message" placeholder="Type here..." autocomplete="off">
                <button type="button" id="send_message">SEND</button>
            </div>
        </div>
    </div>



    <script type="text/javascript">
        const username = `{{ username }}`;
        const mesage_object = `{{ message_object }}`
    </script>

    <!-- Custom Chat JS -->
    <script src="{{ url_for('static', filename='js/chat_page.js') }}">

    </script>
    <!-- SocketIO JS -->
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>

    <!-- CustomSocketIO JS -->
    <script src="{{ url_for('static', filename='js/socketio.js') }}">


    </script>

  </body>
</html>