<!-- HTML Template By: Emma Hobden -->

<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Tutor Application Status</title>

    <link rel="stylesheet" href="{{url_for('static', filename='css/cardStyleForm.css')}}">

{#    <link rel="stylesheet" href="{{ url_for('static', filename='css/app_submit.css') }}">#}

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" media="screen">

    <script type="text/javascript" src="//code.jquery.com/jquery-3.2.1.min.js"></script>

    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>

    <script>

    $(document).ready(function () {

        $('#reApp').hide();

        var this_user = `{{ this_user }}`;

        var app_user = `{{ app_user }}`;

        if (this_user === app_user) {

            $('#reApp').show();


        } else {



        }


        });


</script>
</head>
<body>
{% extends "navbar.html" %}
{% block content %}

<div id="main-section">

     <div id="tutorSection{{ this_tutor.user_id }}" class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">APPLICATION STATUS: <span> {{ this_tutor.tutor_status|upper }} </span> </h3>
        </div>
        <div class="panel-body">
          <div class="form-inline">
            <div class="form-group">
              <label for="tutorName">Name: </label>
              <span id="tutorName">{{ app_user.firstname }} {{ app_user.lastname }} </span>
              <br>
              <label for="tutorUsername">Username: </label>
              <span id="tutorName">{{ app_user.username }}</span>
              <br>

              <label for="aboutTutor">Reason: </label>
              <span id="aboutTutor">{{ this_tutor.about_tutor }}</span>
              <br>
                <label for="statusTutor">Status: </label>
                <span id="statusTutor">{{ this_tutor.tutor_status|title }} </span>
              <br>
                <label for="statusTutor">Courses: </label>
                {% for t in tutor_courses %}
                <span id="statusTutor">{{ t.course_name|title }}, </span>
                {% endfor %}
            <br>
             <label>Credentials:</label> <a href="{{ url_for('download_cred', dl_name=this_tutor.credentials_file_name) }}">{{ this_tutor.credentials_file_name }}</a>
             <br>
                <label for="appComments">Application Feedback: </label>
                   <span id="appComments">{{ this_tutor.application_comments }}</span>
                <br>
            </div>

          </div>

        </div>

      </div>

    <div id="reApp">
    <a href="{{ url_for('home') }}">Change your mind? Return home.</a> <br>

{#    <button class="btn btn-primary deleteApplication" >Re-Apply</button>#}
    <b><a href="{{ url_for('new_tutor') }}">
        <button class="btn btn-primary deleteApplication" >Re-Apply</button>
    </a></b></div>


{% endblock %}
</body>
</html>
