<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Courses</title>
</head>
<body>

{% extends "navbar.html" %}
{% block content %}


                 <form method="POST" action="">
                  <h2>Pick Program</h2>
                     {{ program_form.csrf_token }}
                  {{ program_form.program_options }}
                  <button type="submit">Pick Program</button>
              </form>

                 <form method="POST" action="">
                  <h2>Pick Course</h2>
                     {{ form.csrf_token }}
                  {{ form.course_options }}
                  <button type="submit">Pick Course</button>
              </form>



{% endblock %}
</body>
</html>