<html lang=en>
<head>
    <meta charset=utf-8>

    <title> fixQuick Chatkit </title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" media="screen">
</head>

<body>
{% extends "navbar.html" %}
{% block content %}

{#<div class="navbar">#}
{#    <a class="logo" href="{{ url_for('chat', username=username) }}">Home</a>#}
{#    <a href="{{ url_for('profile', username=username) }}">{{ username }}</a>#}
{#    <a href="#">Forums</a>#}
{#    <a href="#">Chat</a>#}
{#    <a href="{{ url_for('all_users') }}">Users</a>#}
{#    <a href="{{ url_for('logout') }}"> Logout </a>#}
{#</div>#}

<div class="row">

    <div class="column left">
        <div>
            <span id="currDate">{{ date_stamp }}</span>

            <div id="onlineTutors">
                <h5 id="test">Current online tutors: </h5>

                {% for user in online_users %}
                    <a href="{{ url_for('pub_profile', username=user.username) }}">{{ user.username }} </a><br>
                {% endfor %}
            </div>

            <hr>
            <div id="roomPost">
            <a href="{{ url_for('add_room') }}">Create A New Room</a>

            <hr>
            </div>

            <div id="studentPost">
            <a href="{{ url_for('add_student_post') }}">Ask For Help</a>

            <hr>
            </div>

            <div id="tutorApply">
            <a href="{{ url_for('new_tutor') }}">Apply To Be A Tutor</a>
            </div>

        </div>
    </div>



    <div class="column middle" id="tutorPosts">
        <div class="cardContainer">
            <h3>Available Tutors:</h3>
            {% for room in offerhelp %}
                <div>
                    <a href="{{ url_for('room', room_id=room.id) }}">
                        <div id="postTypeTitle">{{ room.title }} - {{ room.room_title }}</div>
                        <div id="postAuthorTime">
                            by {{ room.author }} on {{ room.date_posted.strftime('%b %d, %Y') }}
                            at {{ room.date_posted.strftime('%I' ':' '%M %p') }}
                        </div>
                    </a>
                    <hr>
                </div>

            {% endfor %}
        </div>
    </div>



    <div class="column right" id="studentPosts">
        <div class="cardContainer">
            <h3>These Students Need Help:</h3>
            {% for post in askforhelp %}
                <div>
                    <a href="{{ url_for('studentpost', studentpost_id=post.id) }}">
                        <div id="postTypeTitle">[{{ post.type|upper }}] {{ post.title }}</div>
                        <div id="postAuthorTime">
                            by {{ post.author }} on {{ post.date_posted.strftime('%b %d, %Y') }}
                            at {{ post.date_posted.strftime('%I' ':' '%M %p') }}
                        </div>
                    </a>
                    <hr>
                </div>

            {% endfor %}
        </div>
    </div>

</div>


{#<!-- div main section starts -->#}
{#<div id="main-section">#}
{##}
{#    <!-- Left Column - Join Room - Online Tutors etc -->#}
{#    <div id="left_column">#}
{##}
{#        <span id="currDate">{{ date_stamp }}</span>#}
{##}
{#        <div id="onlineTutors">#}
{#            <h5>Current online tutors: </h5>#}
{##}
{#            {% for user in online_users %}#}
{#                <a href="{{ url_for('pub_profile', username=user.username) }}">{{ user.username }} </a><br>#}
{#            {% endfor %}#}
{#        </div>#}
{##}
{#    <hr>#}
{#        <a href="{{ url_for('new_tutor') }}">Apply to be a Tutor</a>#}
{##}
{#    </div> <!-- end of left column -->#}
{##}
{#    <!-- Middle Column - Type Message area -->#}
{#    <div id="middle_column">#}
{##}
{##}
{##}
{#    </div><!-- end middle_column div -->#}
{##}
{##}
{#    <!-- right_column div -->#}
{#    <div id="right_column">#}
{##}
{#        <div id="blog-posts">#}
{##}
{##}
{#            <a href="{{ url_for('add_post') }}">Add A Room Post</a> <br><br>#}
{#            <h5>View Recent Room Posts:</h5>#}
{##}
{#            {% for room in posts %}#}
{#                <div>#}
{#                    <a href="{{ url_for('room', post_id=room.id) }}">#}
{#                        <div id="postTypeTitle">[{{ room.type|upper }}] {{ room.title }} - {{ room.room_title }}</div>#}
{#                        <div id="postAuthorTime">#}
{#                            by {{ room.author }} on {{ room.date_posted.strftime('%b %d, %Y') }}#}
{#                            at {{ room.date_posted.strftime('%I' ':' '%M %p') }}#}
{#                        </div>#}
{#                    </a>#}
{#                <hr>#}
{#                </div>#}
{##}
{#            {% endfor %}#}
{##}
{##}
{##}
{#            <h1>Offer Help:</h1>#}
{#            {% for room in offerhelp %}#}
{#                <div>#}
{#                    <a href="{{ url_for('room', post_id=room.id) }}">#}
{#                        <div id="postTypeTitle">[{{ room.type|upper }}] {{ room.title }} - {{ room.room_title }}</div>#}
{#                        <div id="postAuthorTime">#}
{#                            by {{ room.author }} on {{ room.date_posted.strftime('%b %d, %Y') }}#}
{#                            at {{ room.date_posted.strftime('%I' ':' '%M %p') }}#}
{#                        </div>#}
{#                    </a>#}
{#                <hr>#}
{#                </div>#}
{##}
{#            {% endfor %}#}
{##}
{#        </div>#}
{##}
{#    </div><!-- end right_column div -->#}
{##}
{##}
{#</div> <!--end main section-->#}

{##}
{#<script type="text/javascript">#}
{#    const username = `{{ username }}`;#}
{#    const mesage_object = `{{ message_object }}`#}
{#</script>#}

{#<!-- Custom Chat JS -->#}
{#<script src="{{ url_for('static', filename='js/chat_page.js') }}"></script>#}
{##}
{#<!-- SocketIO JS -->#}
{#<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"#}
{#        integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>#}
{##}
{#<!-- CustomSocketIO JS -->#}
{#<script src="{{ url_for('static', filename='js/socketio.js') }}"></script>#}


<script>

    let uRole = '{{ role_name }}';

    window.onload = function (event) {

       if (uRole == 'Student') {
            document.getElementById('test').style.color = "purple";
            document.getElementById('tutorPosts').style.display = "block";
            document.getElementById('studentPosts').style.display = "none";
            document.getElementById('roomPost').style.display = "none";
        }
       else if (uRole == 'Tutor') {
           document.getElementById('test').style.color = "green";
           document.getElementById('tutorPosts').style.display = "block";
            document.getElementById('studentPosts').style.display = "block";
            document.getElementById('studentPost').style.display = "none";
            document.getElementById('tutorApply').style.display = "none";
       }


    }




    {##}
    {##}
    {#// Get the modal#}
    {#let modal = document.getElementsByClassName('modal');#}
    {##}
    {#// When the user clicks the button, open the modal#}
    {#btn[0].onclick = function () {#}
    {#    modal[0].style.display = "block";#}
    {##}
    {##}
    {#span[1].onclick = function () {#}
    {#    modal[1].style.display = "none";#}
    {##}

</script>

{% endblock %}
</body>
</html>


<!-- COMMENTS / OLD CODE / DONT DELETE YET -->


<!-- floating right -->
{#
        <span id="currDate">{{ date_stamp }}</span>
    #}


<!-- Input message
<div id="input-area">
    <input type="text" id="user_message" placeholder="Type here..." autocomplete="off">
    <button type="button" id="send_message">SEND</button>

</div>
-->


<!-- Create Room to Join:


<input type="text" id="room_to_join" name="room_to_join">
<button type="submit" id="join_room">Join Room</button>

<br>
<br>
-->


{#        <h5>General Rooms:</h5>#}
{#        {% for room in rooms %}#}
{#            <p class="select-room">{{ room|title }}</p>#}
{#        {% endfor %}#}


<!-- Middle Column - Type Message area -->
{#    <div id="middle_column">#}

{#        <div id="chatWindowHeader">#}
{#            <p id="room-name"></p>#}
{#        </div>#}
{##}
{#        <!-- Display message -->#}
{#        <div id="display-message-section">#}
{#            {% for msg in message_object %}#}
{#                <li>{{ msg.username }}#}
{#                    {{ msg.message }}#}
{#                    {{ msg.room }}#}
{#                </li>#}
{#            {% endfor %}#}
{#        </div>#}
{##}
{##}
{#        <div id="input-area">#}
{#            <input type="text" id="user_message" placeholder="Type here..." autocomplete="off">#}
{#            <button type="button" id="send_message">SEND</button>#}
{#        </div>#}

{#    </div><!-- end middle_column div -->#}