<html lang=en>
<head>
    <meta charset=utf-8>

    <title> QuickFix Home </title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" media="screen">
</head>

<body>
{% extends "navbar.html" %}
{% block content %}

    <!-- Row 1 - Find a Tutor -->
    <a href="{{ url_for('allrooms') }}">
        <div class="row">
            <div class="col-sm-8">
                <div id="section1_graphic"></div>
            </div>

            <div class="col-sm-4">
                <div class="sectionText">
                    <h3>Find a tutor</h3>
                    <p>Our tutors are qualified and pre-approved <br>to help you get started in seconds</p>

                <br><br>
                    <div id="onlineTutors">
                        <h5 id="test">Current online tutors: </h5>
                        {% for user in online_users %}
                            <a href="{{ url_for('pub_profile', username=user.username) }}">{{ user.username }}, </a>
                        {% endfor %}
                    </div>

                </div>

            </div>
        </div>
    </a>

    <!-- Row 2 - Community Forums -->
    <a href="{{ url_for('allstudentposts') }}">
        <div class="row">
            <div class="col-sm-4">
                <div class="sectionText">
                    <h3>Join the Discussion</h3>
                    <p>Connect with your peers to discuss <br>program & course specific topics</p>
                </div>
            </div>

            <div class="col-sm-8">
                <div id="section2_graphic"></div>
            </div>
        </div>
    </a>

{#    <!-- Row 3 - More resources -->#}
{#    <div class="row">#}
{#        <div class="col-sm-12">#}
{#            <div class="section3_resources">#}
{#                <h3>More Resources</h3>#}
{#                <p>link</p>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}







{#    <!-- Row 4 -  -->#}
{#    <div class="row">#}
{#        <div class="col-sm-12">#}
{#            <div class="section3_resources">#}
{#                <h3>More Resources</h3>#}
{#                <p>link</p>#}
{##}
{#            </div>#}
{#        </div>#}
{#    </div>#}




{% endblock %}
</body>
</html>