<html lang=en>
<head>
    <meta charset=utf-8>

    <title> QuickFix Home </title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" media="screen">
</head>

<body>
{% extends "navbar.html" %}
{% block content %}

    <!-- Row 1 - Find a Tutor -->
    <a href="{{ url_for('allrooms') }}">
        <div class="row">
            <div class="col-sm-8">
                <div id="section1_graphic"></div>
            </div>

            <div class="col-sm-4">
                <div class="sectionText">
                    <h3>Find a tutor</h3>
                    <p>Our tutors are qualified and pre-approved <br>to help you get started in seconds</p>

                <br><br>
                    <div id="onlineTutors">
                        <h5 id="test">Current online tutors: </h5>
                        {% for user in online_users %}
                            <a href="{{ url_for('pub_profile', username=user.username) }}">{{ user.username }}, </a>
                        {% endfor %}
                    </div>

                </div>

            </div>
        </div>
    </a>

    <!-- Row 2 - Community Forums -->
    <a href="{{ url_for('allstudentposts') }}">
        <div class="row">
            <div class="col-sm-4">
                <div class="sectionText">
                    <h3>Join the Discussion</h3>
                    <p>Connect with your peers to discuss <br>program & course specific topics</p>
                </div>
            </div>

            <div class="col-sm-8">
                <div id="section2_graphic"></div>
            </div>
        </div>
    </a>

    <!-- Row 3 - More resources -->
    <div class="row">
        <div class="col-sm-12">
            <div class="section3_resources">
                <h3>More Resources</h3>
                <p>link</p>
            </div>
        </div>
    </div>

{#    <!-- Row 4 -  -->#}
{#    <div class="row">#}
{#        <div class="col-sm-12">#}
{#            <div class="section3_resources">#}
{#                <h3>More Resources</h3>#}
{#                <p>link</p>#}
{##}
{#            </div>#}
{#        </div>#}
{#    </div>#}












{#    <div class="row">#}
{##}
{#        <div class="column left">#}
{#            <div>#}
{#                <span id="currDate">{{ date_stamp }}</span>#}
{##}
{#                <div id="onlineTutors">#}
{#                    <h5 id="test">Current online tutors: </h5>#}
{##}
{#                    {% for user in online_users %}#}
{#                        <a href="{{ url_for('pub_profile', username=user.username) }}">{{ user.username }}</a><br>#}
{#                    {% endfor %}#}
{#                </div>#}
{##}
{#                <hr>#}
{##}
{#                <div id="roomPost">#}
{#                    <a href="{{ url_for('add_room') }}">Create A New Room</a>#}
{#                    <hr>#}
{#                </div>#}
{##}
{#                <div id="studentPost">#}
{#                    <a href="{{ url_for('add_student_post') }}">Ask For Help</a>#}
{#                    <hr>#}
{#                </div>#}
{##}
{#                <div id="tutorApply">#}
{#                    <a href="{{ url_for('new_tutor') }}">Apply To Be A Tutor</a>#}
{#                    <hr>#}
{#                </div>#}
{##}
{#                <div id="adminPortal">#}
{#                    <a href="{{ url_for('admin') }}">Admin Portal</a>#}
{#                    <hr>#}
{#                </div>#}
{##}
{#                <div id="checkApp"><a href="{{ url_for('check_application') }}">Check Application</a></div>#}
{##}
{#            </div> <!-- end empty div -->#}
{#        </div> <!-- end column left -->#}
{##}
{##}
{#        <div class="column middle" id="tutorPosts">#}
{#            <div class="cardContainer">#}
{#                <h3>Available Tutors:</h3>#}
{#                {% for room in offerhelp %}#}
{#                    <div>#}
{#                        <a href="{{ url_for('room', room_id=room.id) }}">#}
{#                            <div id="postTypeTitle">{{ room.title }} - {{ room.room_title }}</div>#}
{#                            <div id="postAuthorTime">#}
{#                                by {{ room.author }} on {{ room.date_posted.strftime('%b %d, %Y') }}#}
{#                                at {{ room.date_posted.strftime('%I' ':' '%M %p') }}#}
{#                            </div>#}
{#                        </a>#}
{#                        <hr>#}
{#                    </div>#}
{##}
{#                {% endfor %}#}
{#            </div>#}
{#        </div>#}
{##}
{##}
{#        <div class="column right" id="studentPosts">#}
{#            <div class="cardContainer">#}
{#                <h3>These Students Need Help:</h3>#}
{#                {% for post in askforhelp %}#}
{#                    <div>#}
{#                        <a href="{{ url_for('studentpost', studentpost_id=post.id) }}">#}
{#                            <div id="postTypeTitle">[{{ post.type|upper }}] {{ post.title }}</div>#}
{#                            <div id="postAuthorTime">#}
{#                                by {{ post.author }} on {{ post.date_posted.strftime('%b %d, %Y') }}#}
{#                                at {{ post.date_posted.strftime('%I' ':' '%M %p') }}#}
{#                            </div>#}
{#                        </a>#}
{#                        <hr>#}
{#                    </div>#}
{##}
{#                {% endfor %}#}
{#            </div>  <!-- end card container -->#}
{#        </div> <!-- end column right -->#}
{##}
{#    </div> <!-- end row -->#}


    <script>

        let uRole = '{{ role_name }}';

        let tStatus = '{{ t_status }}';

        window.onload = function (event) {

            document.getElementById('checkApp').style.display = "none";
            document.getElementById('adminPortal').style.display = "none";

            if (uRole == 'Student') {
                document.getElementById('test').style.color = "purple";
                document.getElementById('tutorPosts').style.display = "block";
                document.getElementById('studentPosts').style.display = "none";
                document.getElementById('roomPost').style.display = "none";

                if (tStatus == 'pending') {
                    document.getElementById('tutorApply').style.display = "none";
                    document.getElementById('roomPost').style.display = "none";
                    document.getElementById('checkApp').style.display = "block";

                } else if (tStatus == 'approved') {
                    document.getElementById('tutorApply').style.display = "none";
                    document.getElementById('checkApp').style.display = "none";
                } else if (tStatus == 'denied') {
                    document.getElementById('checkApp').style.display = "block";
                    document.getElementById('tutorApply').style.display = "none";
                    document.getElementById('roomPost').style.display = "none";
                }

            } else if (uRole == 'Tutor') {
                document.getElementById('test').style.color = "green";
                document.getElementById('tutorPosts').style.display = "block";
                document.getElementById('studentPosts').style.display = "block";
                document.getElementById('studentPost').style.display = "none";
                document.getElementById('tutorApply').style.display = "none";
                document.getElementById('checkApp').style.display = "none";

            } else if (uRole == 'Admin') {

                document.getElementById('test').style.color = "red";
                document.getElementById('tutorPosts').style.display = "block";
                document.getElementById('studentPosts').style.display = "block";
                document.getElementById('adminPortal').style.display = "block";
                document.getElementById('studentPost').style.display = "none";
                document.getElementById('tutorApply').style.display = "none";
                document.getElementById('checkApp').style.display = "none";
                document.getElementById('roomPost').style.display = "none";
            }


        }

    </script>

{% endblock %}
</body>
</html>