<html>
    <head>
        <title>Flask-SocketIO-Chat: {{ roomName }}</title>

    <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>

    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
    </head>
    <body>

    <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>

    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
    <script type="text/javascript" >
             var socket;
            $(document).ready(function(){
                socket = io.connect('http://' + document.domain + ':' + location.port + '/chat');
                socket.on('connect', function() {
                    socket.emit('joined', {});
                });
                socket.on('status', function(data) {
                    $('#chat').append('<' + data.msg + '>');
                    //$('#chat').val($('#chat').val() + '<' + data.msg + '>\n');
                    $('#chat').scrollTop($('#chat')[0].scrollHeight);
                });
                socket.on('message', function(data) {
                    $('#chat').append('<' + data.msg + '>');
                    //$('#chat').val($('#chat').val() + data.msg + '\n');
                    $('#chat').scrollTop($('#chat')[0].scrollHeight);
                });


                $('#text').keypress(function(e) {
                    var code = e.keyCode || e.which;
                    if (code == 13) {
                        text = $('#text').val();
                        $('#text').val('');
                        socket.emit('text', {msg: text});
                    }
                });

            });
            function leave_room() {
                socket.emit('left', {}, function() {
                    socket.disconnect();

                    // go back to the login page
                    window.location.href = "{{ url_for('chat') }}";
                });
            }

            function close_room() {
                socket.emit('close_room', {}, function() {
                    socket.disconnect();
                    // go back to the login page
                    window.location.href = "{{ url_for('chat') }}";
                });
            }
        </script>
        <h1>Flask-SocketIO-Chat: {{ roomName }}</h1>

        <h2>Welcome : {{ username }}</h2>



        <textarea id="chat" cols="80" rows="20" readonly>


            {%  for msg in message_object %}
                    <li>{{ msg.message }}</li>
                {%  endfor %}
        </textarea><br><br>

        <input id="text" size="80" placeholder="Enter your message here"><br><br>
        <a href="#" id="" onclick="leave_room();">Leave this room</a>
        <a href="#" onclick="close_room();">Close this room</a>

    </body>

    </body>

</html>
