<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

    <style>
        @import url('https://fonts.googleapis.com/css?family=Amatic+SC&display=swap');
    </style>


       <script type="text/javascript" src="//code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>


    <script>

    $(document).ready(function () {

        let userRole = "{{ role_name }}";
        let t_status = "{{ t_status }}";

        $('#navCheck').hide();
        $('#navRoom').hide();
        $('#navAdmin').hide();
        {#$('#roomsContent').hide();#}
        {#$('#roomsHeading').hide();#}

        if (userRole === 'Student') {

            if (t_status === 'pending') {

                $('#navApply').hide();
                $('#navCheck').show();

            } else if (t_status === 'approved') {

                $('#navRoom').show();
                $('#navApply').hide();
                $('#navCheck').hide();

            } else if (t_status === 'denied') {

                $('#navApply').show();
                $('#navCheck').hide();
            }

        }

        else if (userRole === 'Tutor') {

            $('#navApply').hide();
            $('#navCheck').hide();
            $('#navRoom').show();

        }

        else if (userRole === 'Admin') {

            $('#navApply').hide();
            $('#navCheck').hide();
            $('#navRoom').show();
            $('#navAdmin').show();

        }

    });


    </script>
</head>
<body>

    <div id="navBar"> <!-- whole nav bar -->

        <a href="{{ url_for('home') }}" class="fl_left logo"></a>
        <span class="toggleMenu fl_left" onclick="showMenu(this)">
            <div class="menuIcon bar1"></div>
            <div class="menuIcon bar2"></div>
            <div class="menuIcon bar3"></div>
        </span>

        <div id="menu" style="display:none">

            <a href="{{ url_for('allrooms') }}">Find a Tutor</a>
            <a href="{{ url_for('allstudentposts') }}">Community Forums</a>

            <hr>

            <span id="navApply"><a href="{{ url_for('application_begin') }}">Apply To Be a Tutor</a></span>

            <span id="navCheck">
                <a href="{{ url_for('check_application', user_id=this_user.id) }}">Check Application Status</a>
            </span>

            <span id="navRoom" >
                <a href="{{ url_for('add_room') }}">Create New Room</a>
            </span>

            <span id="navPost">
                <a href="{{ url_for('add_student_post') }}">Create Community Forum Post</a>
            </span>

            <span id="navAdmin">
                <a href="{{ url_for('admin') }}">Admin Portal</a>
            </span>

            <hr>

            <a href="{{ url_for('error_template') }}">Error Template</a>

            <a href="{{ url_for('profile') }}">Settings</a>
            <a href="#">Contact</a>
            <a href="{{ url_for('logout') }}">Logout</a>
        </div>

        <a href="{{ url_for('logout') }}" class="fl_right"> Logout </a>
{#        <a href="{{ url_for('profile') }}" id="userIcon" class="fl_right"></a>#}
        <a href="{{ url_for('profile') }}" class="fl_right">
            <img src="{{ url_for('uploaded_file', filename=this_user.user_photo) }}" height="50px" width="50px"
                 class="profilePic_sm"/>
        </a>
{#        <a href="{{ url_for('profile')v }}" class="fl_right">{{ username }}</a>#}


    </div>

    <script type="text/javascript">
        function showMenu(icon) {

           let x = document.getElementById("menu");

           if (x.style.display === "none") {
               x.style.display = "block";
               icon.classList.toggle("change");
           } else if (x.style.display === "block") {
               x.style.display = "none";
               icon.classList.toggle("change");
           }
        }
    </script>



    {% block content %}
    {% endblock %}

{#<script>#}
{##}
{#    let userRole = "{{ role_name }}";#}
{##}
{#    let tutorStatus = "{{ t_status }}";#}
{##}
{#    window.onload = function (event) {#}
{##}
{#        document.getElementById("navCheck").style.display = "none";#}
{#        document.getElementById("navRoom").style.display = "none";#}
{#        document.getElementById("navAdmin").style.display = "none";#}
{##}
{#        if (userRole == 'Student') {#}
{##}
{#            if (tutorStatus == 'pending') {#}
{##}
{#                document.getElementById("navApply").style.display = "none";#}
{#                document.getElementById("navCheck").style.display = "block";#}
{##}
{#            } else if (tutorStatus == 'approved') {#}
{##}
{#                document.getElementById("navApply").style.display = "none";#}
{#                document.getElementById("navCheck").style.display = "none";#}
{#                document.getElementById("navRoom").style.display = "block";#}
{##}
{#            } else if (tutorStatus == 'denied') {#}
{##}
{#                document.getElementById("navApply").style.display = "none";#}
{#                document.getElementById("navCheck").style.display = "block";#}
{##}
{#            }#}
{##}
{#        } else if (userRole == 'Tutor') {#}
{##}
{#            document.getElementById("navApply").style.display = "none";#}
{#            document.getElementById("navCheck").style.display = "none";#}
{#            document.getElementById("navRoom").style.display = "block";#}
{##}
{#        } else if (userRole == 'Admin') {#}
{##}
{##}
{#            document.getElementById("navRoom").style.display = "none";#}
{#            document.getElementById("navApply").style.display = "none";#}
{#            document.getElementById("navCheck").style.display = "none";#}
{#            document.getElementById("navAdmin").style.display = "block";#}
{#        }#}
{##}
{##}
{#    }#}
{##}
{##}
{##}

{##}
{#</script>#}
</body>
</html>
