<html lang=en>
<head>
    <meta charset=utf-8>
    <style>
        @import url('https://fonts.googleapis.com/css?family=Beth+Ellen&display=swap');
        @import url('https://fonts.googleapis.com/css?family=Dosis:200&display=swap');
    </style>

    <title> fixQuick Chatkit </title>

    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/chat.css')}}">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" media="screen">
</head>

<body>

    <div class="navbar">
        <a class="logo" href="#">Home</a>
        <a href="{{ url_for('profile', username=username) }}">{{ username }}</a>
        <a href="#">Forums</a>
        <a href="{{ url_for('chat', username=username) }}" >Chat</a>
        <a href="#">Saved</a>
        <a href="{{ url_for('logout') }}"> Logout </a>
    </div>



    <!-- <nav id="main-section"> -->
    <div id="main-section">


     <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="post-heading">
              <h1>{{ post.title }}</h1>
              <h2 class="subheading">{{ post.subtitle }}</h2>
              <span class="meta">Posted by
                {{ post.author }}
                on {{ post.date_posted.strftime('%H%m %B %d, %Y') }}</span>
            </div>
          </div>
        </div>
     <!-- Post Content -->
    <article>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            {{ post.content|safe }}
          </div>
        </div>
      </div>
    </article>
    </div>

     </div>


    <script type="text/javascript">
        const username = `{{ username }}`;
        const mesage_object = `{{ message_object }}`
    </script>


</body>

</html>
