<html>
<head>
    <meta charset=utf-8>
    <style>
        @import url('https://fonts.googleapis.com/css?family=Beth+Ellen&display=swap');
        @import url('https://fonts.googleapis.com/css?family=Dosis:200&display=swap');
    </style>

    <title> QuickFix Chat: {{ roomName }}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/private_chat.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <script type="text/javascript" src="//code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"
            integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/2f55668b75.js" crossorigin="anonymous"></script>

    <!-- Script that runs when page loads - hide/show elements based on user role -->
    <script>

        $(document).ready(function () {
            let roomAuth = '{{ authorName }}';
            var roomVisible = '{{ roomVisible }}';

            $('#button_close').hide();
            $('#tutorControls_heading').hide();
            $('.deleteRoomUploadsChat').hide();
            $('#privateButton').hide();
            $('#publicButton').hide();
            $('#downloadLog').hide();
            $('#deleteLogsChat').hide();
            $('.ratingSubmitted').hide();

            if (roomAuth === username) {
                $('#tutorControls_heading').show();
                $('#downloadLog').show();
                $('#deleteLogsChat').show();
                $('.deleteRoomUploadsChat').show();

                if (roomVisible === 'True') {
                    $('#privateButton').show()
                } else if (roomVisible === 'False') {
                    $('#publicButton').show();
                }
            }
        });

    </script>

</head>
<body>

<div id="main-section">

    <!-- Row 1 - Room Name-->
    <div class="row row1">

        <!-- Row 1 Col 1-->
        <div class="col-sm-1">
            <button type="button" id="button_leave" class="btn btn-warning leaveRoom">Leave Room</button>
        </div> <!-- end Row 1 Col 1-->

        <!-- Row 1 Col 2-->
        <div class="col-sm-11">
            <div id="chatWindowHeader">
                <div id="room-name">
                    {{ roomName }}
                </div>
            </div>
        </div> <!-- end Row 1 Col 2-->

    </div><!-- end Row 1 - Room Name-->


    <!-- Row 2 -->
    <div class="row row2">

        <!-- Row 2 Col 1 - Left Column -->
        <div class="col-sm-4">
            <div id="left_col">

                <div class="roomInfoHeading">Room Information</div>
                <br>
                <div id="currDate">{{ date_stamp }}</div>
                <div id="roomCreator">Created By: {{ authorName }}</div>
                <div id="joined-stamp">Joined at {{ connected_stamp }}</div>


                <div class="roomInfoHeading" id="tutorControls_heading"><br>Tutor Controls</div>
                <br>
                <button type="button" id="button_close" class="btn btn-light">Close Room</button>
                <input type="text" id="nameInput{{ room.id }}" value="{{ room.room_title }}" readonly hidden/>



            <div class="makeCenter">

                <button id="privateButton" class="btn btn-danger privateButton" room_id="{{ room.id }}">Make Room
                    Private
                </button>


                <button id="publicButton" class="btn btn-success publicButton" room_id="{{ room.id }}">
                    Make Room Public
                </button>

                <br><br>

                <a id="downloadLog" href="{{ url_for('download_log') }}">
                    <button class="btn btn-primary chatLog">Download Chat Log</button>
                </a>

                <br><br>

                <button id="deleteRoomUploadsChat" class="btn btn-danger deleteRoomUploadsChat">
                    Delete Room Files
                </button>

                <br><br>

                <button id="deleteLogsChat" class="btn btn-danger deleteLogsChat">Delete Chat Log
                </button>
            </div>

                <br>
                <div class="roomInfoHeading">Room Files</div>
                <br>
                <button class="btn btn-primary refreshRoomUploads" room_name="{{ roomName }}">Update Files</button>
                <br><br>
                <div id="file_list">
                    {% for file in room_files %}
                        <a href="{{ url_for('room_download', dl_name=file.file_name) }}">
                            <b>{{ file.file_name }}</b> <br>
                            Uploaded By : {{ file.username }}</a> <br><br>
                    {% endfor %}

                </div>


            </div>

        </div>

        <!-- Row 2 Col 2 - Chat Window -->
        <div class="col-sm-8">
            <div id="right_col">
                <div id="display-message-section">


                    {% for msg in message_object %}

                        {% if msg.username == username %}

                            <p class="my-msg">
                                {#                    <img src="{{ url_for('uploaded_file', filename=this_user.user_photo) }}" height="50px" width="50px" class="profilePic_sm"/>#}
                                <span class="my-username">{{ msg.username }}</span>
                                <span class="timestamp">{{ msg.created_at }}</span>
                                <br>
                                <span class="my-msg">{{ msg.message }}</span>
                            </p>

                        {% else %}

                            <p class="others-msg">
                                {#                    <img src="{{ url_for('uploaded_file', filename=this_user.user_photo) }}" height="50px" width="50px" class="profilePic_sm"/>#}
                                <span class="other-username">{{ msg.username }}</span>
                                <span class="other-timestamp">{{ msg.created_at }}</span>
                                <br>
                                <span class="others-msg">{{ msg.message }}</span>
                            </p>

                        {% endif %}

                    {% endfor %}

                </div><!-- end display-message-section div -->

                <div class="row row_typeMsg no-gutters">

                    <div class="col-sm-1 padding-0">
                        <div id="button_upload">
                            <button class="btn btn-info glyphicon glyphicon-paperclip" id="uploadNewDocs"></button>
                        </div>
                    </div>


                    <div class="col-sm-10 padding-0">
                        <div id="type_msg">
                            <input type="text" class="type_msg" id="user_message" placeholder="Type here..."
                                   autocomplete="off">
                        </div>
                    </div>


                    <div class="col-sm-1 padding-0">
                        <div id="button_send">
                            <button class="btn btn-warning glyphicon glyphicon-send" type="submit"
                                    id="send_message"></button>
                        </div>
                    </div>

                </div> <!-- end row type msg -->

                {#                original type msg, upload, send msg
                <div id="input-area">
                    <button class="fas fa-paperclip" id="uploadNewDocs"></button>
                    <input type="text" id="user_message" placeholder="Type here..." autocomplete="off">
                    <button type="submit" id="send_message">SEND</button>
                </div><!-- end input-area -->
#}


                <div id="upload">
                    <span class="closeWindow" onclick="testClose()">&times;</span><br>

                    <form method="post" enctype="multipart/form-data">
                        {{ file_form.hidden_tag() }}
                        {{ file_form.file }}
                        <button id="file_upload" type=submit class="btn btn-info" title="Submit">Add New File</button>
                        {{ file_form.csrf_token }}
                    </form>
                </div><!-- end upload -->


            </div><!-- end right col -->
        </div> <!-- end column 2 -->

    </div><!-- end row 2 -->


</div><!-- End Main Section Div -->


<script type="text/javascript">
    const username = `{{ username }}`;
    const mesage_object = `{{ message_object }}`;
    const roomname = `{{ roomName }}`;


    //show div upload on button click uploadNewDocs
    let uploadForm = document.getElementById('upload');
    let button = document.getElementById('uploadNewDocs');

    // show upload form on button click
    button.onclick = function () {
        uploadForm.style.display = "block";
    }

    // hides upload form on window close
    function testClose() {
        uploadForm.style.display = "none";
    }


</script>

<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', () => {

        var socket = io.connect('http://' + document.domain + ':' + location.port);
        joinRoom(`{{ roomName }}`);

        //Displays incoming messages
        socket.on('message', data => {

            const p = document.createElement('p'); // <p> tag
            const span_username = document.createElement('span'); // <span> tag
            const span_timestamp = document.createElement('span'); // <span> tag
            const br = document.createElement('br'); // <br> tag


            if (data.username === username) {

                p.setAttribute("class", "my-msg"); // <p class="my-msg"></p>

                span_username.setAttribute("class", "my-username"); // <span class="my-username"></span>
                span_username.innerHTML = data.username; // <span class="my-username"> { username } </span>

                span_timestamp.setAttribute("class", "timestamp"); // <span class="timestamp"></span>
                span_timestamp.innerHTML = data.time_stamp; // <span class="timestamp"> { timestamp } </span>

                p.innerHTML = span_username.outerHTML + span_timestamp.outerHTML + br.outerHTML + data.msg; // add username, timestamp, line break and message to the <p> tag
                //p.innerHTML = span_username.outerHTML + br.outerHTML + data.msg + br.outerHTML + span_timestamp.outerHTML;
                document.querySelector('#display-message-section').append(p); // append <p> tag to message section
                //console.log(`Message received: ${data}`)

            } else if (typeof data.username !== 'undefined') {
                p.setAttribute("class", "others-msg");

                span_username.setAttribute("class", "other-username");
                span_username.innerText = data.username;

                span_timestamp.setAttribute("class", "other-timestamp");
                span_timestamp.innerText = data.time_stamp;

                p.innerHTML = span_timestamp.outerHTML + span_username.outerHTML + br.outerHTML + data.msg;
                document.querySelector('#display-message-section').append(p);

                //p.innerHTML = span_timestamp.outerHTML + span_username + br.outerHTML + data.msg;
            } else {
                printSysMsg(data.msg);
            }
            //scrolls window down on new message
            scrollDownChatWindow();

        });

        // send message
        document.querySelector('#send_message').onclick = () => {
            socket.send({'msg': document.querySelector('#user_message').value, 'username': username, 'room': roomname});

            //clear input area
            document.querySelector('#user_message').value = '';

        };

        // on button click - leave the room
        document.querySelector('#button_leave').onclick = () => {


            let roomAuth = '{{ authorName }}';

            //if room author leaves room just goes home else brings up ratingsform
            if (roomAuth === username) {

                socket.emit('leave', {'username': username, 'room': roomname});
                socket.disconnect();
                window.location.href = "{{ url_for('home') }}";
            } else {

                //sets ratingsform modal to visible
                let ratings = document.getElementById('myModal');
                ratings.style.display = "block";

                let span = document.getElementById('closeRatings');

                span.onclick = function () {

                    ratings.style.display = "none";

                };

                document.querySelector('#goHome').onclick = () => {

                    socket.emit('leave', {'username': username, 'room': roomname});
                    socket.disconnect();
                    window.location.href = "{{ url_for('home') }}";


                };
            }
        };


        //if (confirm("Would you like to download a copy of today's session?")) {

        {# <button id="privateButton" class="btn btn-danger privateButton" room_id="{{ room.id }}">Make Room#}
        {#    Private#}
        {#</button>#}

        {#window.location.href = "{{ url_for('download_log', room_name=room.room_title)}}";#}
        {#socket.emit('leave', {'username': username, 'room': roomname});#}
        {#socket.disconnect();#}

        //if (confirm("Please leave a review ")) {

        {#//window.location.href = "{{ url_for('download_log')}}";#}
        //socket.emit('leave', {'username': username, 'room': roomname});
        //socket.disconnect();

        //} else {

        //socket.emit('leave', {'username': username, 'room': roomname});
        //socket.disconnect();
        {#//window.location.href = "{{ url_for('home') }}";#}

        //}


        //} else {

        //socket.emit('leave', {'username': username, 'room': roomname});
        //socket.disconnect();
        {#//window.location.href = "{{ url_for('home') }}";#}

        //}
        //};
        // on button click - makes rooms private
        document.querySelector('#privateButton').onclick = () => {
            socket.emit('private', {'username': username, 'room': roomname});
        };

        // on button click - makes rooms public
        document.querySelector('#publicButton').onclick = () => {
            socket.emit('public', {'username': username, 'room': roomname});
        };

        // on button click - close the room
        document.querySelector('#button_close').onclick = () => {
            socket.emit('close_room', {'username': username, 'room': roomname});
            socket.disconnect();
            window.location.href = "{{ url_for('home') }}";
        };

        document.querySelector('#file_upload').onclick = () => {
            socket.emit('upload', {'username': username, 'room': roomname});
        };


        //join room
        function joinRoom(room) {
            socket.emit('join', {'username': username, 'room': roomname});
            document.querySelector('#room-name').innerHTML = room;
        }


        // Scroll chat window down
        function scrollDownChatWindow() {
            const chatWindow = document.querySelector("#display-message-section");
            chatWindow.scrollTop = chatWindow.scrollHeight;
        }


        function printSysMsg(msg) {
            const p = document.createElement('p');
            p.innerHTML = msg;
            document.querySelector('#display-message-section').append(p);
            scrollDownChatWindow();
        }
    })
</script>
<script>
    window.onload = function () {

        let objDiv = document.getElementById("display-message-section");
        objDiv.scrollTop = objDiv.scrollHeight;


        let msg = document.querySelector('#user_message');
        msg.addEventListener('keyup', event => {
            event.preventDefault();
            if (event.keyCode === 13) {
                document.querySelector('#send_message').click();
            }

        })


    }
</script>


<!-- RATE TUTOR Modal -->
<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <span id="closeRatings">&times;</span>

        <div class="ratingsForm">

            <h3>Thank you for using QuickFix!</h3> <br>
            <h4>How did {{ authorName }} do today?</h4>

            <br><br>

            <div class="ratingSelect">
                <ul>
                    <li>Not At All Helpful</li>
                    <li>Slightly Helpful</li>
                    <li>Moderately Helpful</li>
                    <li>Very Helpful</li>
                    <li>Extremely Helpful</li>
                </ul>
            </div>

            <form method="post" class="ratingSelect">

                <ul>
                    <li>1<input type="radio" name="rating" value=1></li>
                    <li>2<input type="radio" name="rating" value=2></li>
                    <li>3<input type="radio" name="rating" value=3 checked></li>
                    <li>4<input type="radio" name="rating" value=4></li>
                    <li>5<input type="radio" name="rating" value=5></li>
                </ul>

                {#                    1<input type="radio" name="rating" value=1>#}
                {#                    2<input type="radio" name="rating" value=2>#}
                {#                    3<input type="radio" name="rating" value=3 checked>#}
                {#                    4<input type="radio" name="rating" value=4>#}
                {#                    5<input type="radio" name="rating" value=5>#}
            </form>

            <br>

            <input type="button" class="btn btn-success submitRating" value="Submit Rating"/>

            <br><br>

        </div><!-- end ratings form div -->

        <div class="ratingSubmitted makeCenter">
            <h4>"Your feedback is appreciated!"</h4>
        </div>
        <br>


        <div class="makeCenter">
            <a id="downloadLog" href="{{ url_for('download_log') }}">
                <button class="btn btn-warning chatLog">Download Chat Log</button>
            </a>

            <a id="goHome" href="{{ url_for('home') }}">
                <button class="btn btn-primary chatLog">Return Home</button>
            </a>
        </div>


    </div>
</div> <!-- End rate tutor Modal Div -->


</body>
</html>


