<html>
    <head>
         <meta charset=utf-8>
    <style>
        @import url('https://fonts.googleapis.com/css?family=Beth+Ellen&display=swap');
        @import url('https://fonts.googleapis.com/css?family=Dosis:200&display=swap');
    </style>

    <title> fixQuick Chatkit {{ roomName }}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/chat.css') }}">

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" media="screen">

    <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>

    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
    </head>

    <script type="text/javascript" >
             var socket;
            $(document).ready(function(){
                socket = io.connect('http://' + document.domain + ':' + location.port + '/chat');
                socket.on('connect', function() {
                    socket.emit('joined', {});

                });
                socket.on('status', function(data) {
                    $('#display-message-section').val($('#display-message-section').val() + '< ' + data.msg + ' >\n');
                    $('#display-message-section').scrollTop($('#display-message-section')[0].scrollHeight);
                });
                socket.on('message', function(data) {
                    $('#display-message-section').val($('#display-message-section').val() + data.msg + '\n');
                    $('#display-message-section').scrollTop($('#display-message-section')[0].scrollHeight);
                });


                $('#user_message').keypress(function(e) {
                    var code = e.keyCode || e.which;
                    if (code == 13) {
                        text = $('#user_message').val();
                        $('#user_message').val('');
                        socket.emit('text', {msg: text});
                    }
                });



            });
            function leave_room() {
                socket.emit('left', {}, function() {
                    socket.disconnect();

                    // go back to the chat page
                    window.location.href = "{{ url_for('chat') }}";
                });
            }

            function close_room() {
                socket.emit('close_room', {}, function() {
                    socket.disconnect();
                    // go back to the chat page
                    window.location.href = "{{ url_for('chat') }}";
                });
            }
        </script>

    <body>

        <div class="navbar">
        <a class="logo" href="#">Home</a>
        <a href="{{ url_for('profile', username=userName) }}">{{ userName }}</a>
        <a href="#">Forums</a>
        <a href="#">Chat</a>
        <a href="{{ url_for('all_users') }}">Users</a>
        <a href="{{ url_for('logout') }}"> Logout </a>

        </div>

        <div id="main-section">

            <div id="left_column">

            <h5>Room Actions: </h5>
            <a href="#" onclick="leave_room();">Leave this room</a>
            <br>
            <a href="#" onclick="close_room();">Close this room</a>
            <br>
            <form method="POST">
            {{ room_form.submit_button() }}
             {{ room_form.csrf_token }}

            </form>
            </div>

        <div id="middle_column">

        <div id="chatWindowHeader">
            <p id="room-name"> {{ roomName }}</p>
        </div>
        <textarea id="display-message-section" cols="8" rows="2" readonly>

            {%  for msg in message_object %}
                    {{ msg.username }} {{ msg.message }} {{ msg.room }}
                {%  endfor %}
        </textarea>

{#        <input id="user_message" size="80" placeholder="Enter your message here"><br><br>#}
         <div id="input-area">
            <input type="text" id="user_message" placeholder="Type here..." autocomplete="off">
            <button type="button" id="send_message">SEND</button>
        </div>

        </div>

        </div>
    </body>



</html>
