<!-- HTML Template By: Emma Hobden -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile Page</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" media="screen">

    <script type="text/javascript" src="//code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
</head>

<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', () => {


        //hides online status toggle and info if user is a student
        let role = '{{ role_name }}';


        if (role === "Student") {
            document.getElementById('tutorStatusToggle').style.display = "none";
            document.getElementById('roomsHeading').style.display = "none";
            document.getElementById('roomsContent').style.display = "none";



            document.getElementById('tutorStatusHeader').style.display = "none";
            //document.getElementsByClassName('tutorOnly').style.display = "none";

        } else if (role === "Admin") {

            document.getElementById('tutorStatusToggle').style.display = "none";
            document.getElementById('tutorStatusHeader').style.display = "none";
            //document.getElementsByClassName('tutorOnly').style.display = "none";
        }



    })
</script>


<body>

{% extends "navbar.html" %}
{% block content %}

    <div class="row row_mainTitle">
        <h1>Edit Your Information</h1>
    </div>


    <!-- ---------------------------------- Row 1 - Profile pic, upload new pic  ---------------------------------- -->
    <div class="row row1">

        <!-- Column 1 - Empty Col -->
        <div class="col-sm-4"></div>

        <!-- Column 2 - User Photo -->
        <div class="col-sm-4">

            <div id="userPhoto">
                <img src="{{ url_for('uploaded_file', filename=user_object.user_photo) }}" height="240px" width="240px" class="profilePic"/>
            </div>

        </div> <!-- end column 2 -->

        <!-- Column 3 - User Photo -->
        <div class="col-sm-4 col_uploadBtn">

            <div id="userPhotoUpload">
                <button id="myBtn" class="myBtn uploadPhotoButton"><i class="glyphicon glyphicon-camera"></i></button>
            </div>

        </div> <!-- end column 3 -->

    </div> <!-- end row 1 - profile pic -->

    <br>

    <!-- ---------------------------------------- Row 2 - User Information  ---------------------------------------- -->
    <div class="row row2">

        <!-- Column 1 - User Info -->
        <div class="col-sm-6 row2col1">
            <span class="userInfoTitles">Name</span><br>
            <span class="userInfoTitles">Username</span><br>
            <span class="userInfoTitles">Role</span>
        </div>

        <!-- Column 2 - User Info -->
        <div class="col-sm-6">
            <span class="userInfoData">{{ user_object.firstname }} {{ user_object.lastname }}</span><br>
            <span class="userInfoData">{{ current_user.username }}</span><br>
            <span class="userInfoData">{{ role_name }}</span>
        </div>

    </div>



    <!-- -------------------------------------------- Row 3 - User Email ------------------------------------------- -->
    <div class="row row3">
        <div class="col-sm-12">
            <span class="userInfoTitles">Email: </span>
            <span class="userInfoData"><input type="text" class="emailChange" id="email{{ user_object.id }}" value="{{ user_object.email }}"></span>
            <button class="btn btn-info editUserProfile" user_id="{{ user_object.id }}">Update</button>
            <br><br>
            <a href="{{ url_for('pub_profile', username=user_object.username) }}">View My Public Profile</a>
        </div>
    </div>




    <!-- ---------------------------------- Row 4 - Toggle Online Status (Tutor Only) ------------------------------ -->
    <div class="row">
        <div class="col-sm-12">

            <div id="tutorStatusToggle">
                <hr>

                Status: <b>{{ status_string }}</b>

                <form method="post" enctype="multipart/form-data">
                    <fieldset>
                        {{ ts_form.hidden_tag() }}
                        {{ ts_form.status }}<br><br>
                        {{ ts_form.submit_button3(class_="btn btn-info") }}
                        {{ ts_form.csrf_token }}
                    </fieldset>
                </form>

            </div> <!-- end tutor status toggle -->
        </div>
    </div><!-- end row 4 - toggle status -->







    <!-- ---------------------------------------------- Row 5 - About Me ------------------------------------------- -->
    <div class="row">
        <div class="col-sm-12">
            <p class="subheading">About Me <a href="{{ url_for('update_aboutme') }}">Update</a></p>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">

            <div id="aboutMe">
                <p>{{ about_me }}</p>
            </div>

        </div> <!-- end col -->
    </div><!-- end row 5 - about me -->











    <!-- ---------------------------------------------- Row 6 - Courses ------------------------------------------- -->
    <div class="row">
        <div class="col-sm-12">
            <p class="subheading">My Courses <a href="{{ url_for('programCourses') }}">Update</a></p>
        </div>
    </div>

    <div class="row">
{#        <div class="col-sm-12">#}

                <div id="myCourses">


                    <div class="table-responsive">
                    <table class="table table-hover table-fixed">
                        <thead><tr>
                                <th class="col-sm-2">Course_ID</th>
                                <th class="col-sm-3">Course Code</th>
                                <th class="col-sm-6">Course Name</th>
                                <th class="col-sm-1">Delete</th>
                        </tr></thead>

                        {% for course in user_courses %}
                            <tbody>
                            <tr>
                                <td>{{ course.course_id }}</td>
                                <td>CODE123</td>
                                <td>{{ course.course_name }}</td>
                                <td><button class="btn btn-danger deleteUserCourse" course_id="{{ course.user_course_id }}"><i class="glyphicon glyphicon-trash"></i></button></td>
                            </tr>
                            </tbody>
                        {% endfor %}

                    </table>

                </div>

                </div>

{#        </div> <!-- end col -->#}
    </div><!-- end row 6 - courses -->






    <!-- ------------------------------------------------ Row 7 - Posts -------------------------------------------- -->
    <div class="row">
        <div class="col-sm-12">
            <p class="subheading">My Posts <a href="{{ url_for('add_student_post') }}">Add New Post</a></p>
        </div>
    </div>

    <div class="row">
{#        <div class="col-sm-12">#}

            <div id="myPosts">

                <div class="table-responsive">
                    <table class="table">
                        <thead><tr>
                                <th class="col-sm-5">Post</th>
                                <th class="col-sm-3">Course</th>
                                <th class="col-sm-3">Date</th>
                                <th class="col-sm-1">Delete</th>
                        </tr></thead>

                        {% for room in student_posts %}
                            <tbody>
                            <tr>
                                <td><a href="{{ url_for('studentpost', studentpost_id=room.id) }}">{{ room.title }}</a></td>
                                <td>{{ room.post_course }}</td>
                                <td>{{ room.date_posted.strftime('%B %d, %Y') }}</td>
                                <td><button class="btn btn-danger deleteStudentPost" room_id="{{ room.id }}"><i class="glyphicon glyphicon-trash"></i></button></td>
                            </tr>
                            </tbody>
                        {% endfor %}

                    </table>

                </div><!-- end table responsiveness -->

            </div><!-- end div my posts -->

{#        </div> <!-- end col -->#}
    </div><!-- end row 7 - posts -->










    <!-- ----------------------------------------- Row 8 - Rooms (Tutor Only) -------------------------------------- -->
    <div class="row tutorOnly">
        <div class="col-sm-12">
            <div id="roomsHeading">
                <p class="subheading">My Rooms <a href="{{ url_for('add_room') }}">Add New Room</a></p>
            </div>
        </div>
    </div>

    <div class="row tutorOnly">
{#        <div class="col-sm-12">#}

        <div id="roomsContent">
            <div id="myRooms">

                <div class="table-responsive">
                    <table class="table">
                        <thead><tr>
                            <th class="col-sm-2">Room</th>
                            <th class="col-sm-3">Title</th>
                            <th class="col-sm-1">Public</th>
                            <th class="col-sm-3">Course</th>
                            <th class="col-sm-2">Date</th>
                            <th class="col-sm-1">Delete</th>
                        </tr></thead>

                        {% for room in posts %}
                            <tbody>
                            <tr>
                                <td><a href="{{ url_for('room', room_id=room.id) }}">{{ room.room_title }}</a></td>
                                <td>{{ room.title }}</td>
                                <td>{{ room.visible }}</td>
                                <td>{{ room.room_course }}</td>
                                <td>{{ room.date_posted.strftime('%B %d, %Y') }}</td>
                                <td><button class="btn btn-danger deleteButton" room_id="{{ room.id }}"><i class="glyphicon glyphicon-trash"></i></button></td>
                            </tr>
                            </tbody>
                        {% endfor %}

                        </table>
                    </div> <!-- end table responsive -->

                </div><!-- end my rooms div -->
        </div>
{#        </div> <!-- end col -->#}
    </div><!-- end row 8 - rooms -->







    <!-- ---------------------------------------------- Row 9 - Uploads ------------------------------------------- -->
    <div class="row">
        <div class="col-sm-12">
            <p class="subheading">My Uploads<button id="myBtn" class="myBtn uploadDocsButton">Upload More Documents</button></p>
        </div>
    </div>

    <div class="row">
{#        <div class="col-sm-12">#}

            <div id="userUploads">

                <div class="table-responsive">
                    <table class="table">
                        <thead><tr>
                            <th class="col-sm-11">File</th>
                            <th class="col-sm-1">Delete</th>
                        </tr></thead>

                        {% for file in user_files %}
                            <tbody>
                                <tr>
                                    <td><a href="{{ url_for('download', dl_name=file.file_name) }}">{{ file.file_name }}</a></td>
                                    <td><button class="btn btn-danger deleteUserFile" file_id="{{ file.file_name }}"><i class="glyphicon glyphicon-trash"></i></button></td>
                                </tr>
                            </tbody>
                        {% endfor %}

                    </table>
                </div><!-- end table responsive -->
            </div><!-- end user Uploads Div -->

{#        </div> <!-- end col -->#}
    </div><!-- end row 9 - uploads -->
















    <!-- -------------------------------------------------- MODALS ------------------------------------------------- -->

    <!-- UPLOAD NEW PROFILE PIC Modal -->
    <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times;</span>
            <h4>Upload A New Profile Photo</h4>
            <form method="post" enctype="multipart/form-data">
                {{ image_form.hidden_tag() }}
                {{ image_form.image(class_="chooseFile") }}<br>
                {{ image_form.submit_button1 }}
                {{ image_form.csrf_token }}
            </form>
        </div>
    </div> <!-- End Profile Pic Modal Div -->

    <!-- UPLOAD NEW DOCS Modal -->
    <div id="myModal2" class="modal">
        <!-- Modal content -->
        <div class="modal2-content">
            <span class="close">&times;</span>
            <h4>Upload A New File</h4>
            <form method="post" enctype="multipart/form-data">
                {{ file_form.hidden_tag() }}
                {{ file_form.file(class_="chooseFile") }}<br>
                {{ file_form.submit_button }}
                {{ file_form.csrf_token }}
            </form>
        </div>
    </div><!-- End Modal2 -->



    <!-- -------------------------------------------------- SCRIPTS ------------------------------------------------ -->
    <script>
        // Get the modal
        let modal = document.getElementsByClassName('modal');

        // Get the button that opens the modal
        let btn = document.getElementsByClassName("myBtn");

        // Get the <span> element that closes the modal
        let span = document.getElementsByClassName("close");

        // When the user clicks the button, open the modal
        btn[0].onclick = function () {
            modal[0].style.display = "block";
        }

        btn[1].onclick = function () {
            modal[1].style.display = "block";
        }
        // When the user clicks on <span> (x), close the modal
        span[0].onclick = function () {
            modal[0].style.display = "none";
        }

        span[1].onclick = function () {
            modal[1].style.display = "none";
        }
        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }

        let uRole = '{{ role_name }}';

        let tStatus = '{{ t_status }}';

        window.onload = function (event) {

            document.getElementById('checkApp').style.display = "none";
            document.getElementById('adminPortal').style.display = "none";

            document.getElementById('myPosts').style.display = "none";
            document.getElementById('myRooms').style.display = "none";

            if (uRole == 'Student') {

                document.getElementById('myPosts').style.display = "block";
                document.getElementById('myRooms').style.display = "none";

                document.getElementById('roomPost').style.display = "none";
                document.getElementById('adminPortal').style.display = "none";

                if (tStatus == 'pending') {
                    document.getElementById('tutorApply').style.display = "none";
                    document.getElementById('roomPost').style.display = "none";
                    document.getElementById('checkApp').style.display = "block";

                } else if (tStatus == 'approved') {
                    document.getElementById('tutorApply').style.display = "none";
                    document.getElementById('checkApp').style.display = "none";
                } else if (tStatus == 'denied') {
                    document.getElementById('checkApp').style.display = "block";
                    document.getElementById('tutorApply').style.display = "none";
                    document.getElementById('roomPost').style.display = "none";
                }

            } else if (uRole == 'Tutor') {
                document.getElementById('myPosts').style.display = "none";
                document.getElementById('myRooms').style.display = "block";

                document.getElementById('studentPost').style.display = "none";
                document.getElementById('tutorApply').style.display = "none";
                document.getElementById('adminPortal').style.display = "none";
                document.getElementById('checkApp').style.display = "none";

            } else if (uRole == 'Admin') {

                document.getElementById('myPosts').style.display = "none";
                document.getElementById('myRooms').style.display = "none";

                document.getElementById('studentPost').style.display = "none";
                document.getElementById('tutorApply').style.display = "none";
                document.getElementById('adminPortal').style.display = "block";
                document.getElementById('checkApp').style.display = "none";
            }


        }


    </script>


{% endblock %}
</body>
</html>
