<!--
  -- studentPosts.html
  -- Shows all posts all students have made.
  -->

<html lang=en>
<head>
    <meta charset=utf-8>

    <title>View Student Posts</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/viewPost.css') }}">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" media="screen">
</head>

<body>

{% extends "navbar.html" %}
{% block content %}

    <div class="main-content">

        <!-- Row 1 -->
        <div class="row">
            <div class="col-sm-12">
                <a href="{{ url_for('add_student_post') }}">Add New Post</a>
            </div>
        </div> <!-- end Row 1 - add post -->

        <!-- Row 2 -->
        <div class="row title1">
            <div class="col-sm-12">
                <span class="title2">Community Forums</span>
            </div>
        </div> <!-- end Row 2 - title -->

        <!-- Row 3 -->
        <div class="row">
            <div class="col-sm-12">
                <p>Sort / Search?</p>
            </div>
        </div> <!-- end Row 3 - sort search -->

        <!-- Row 4 -->
        <div class="row">
            <div class="col-sm-12">

                {% for post in student_posts %}

                    <div>
                        <a href="{{ url_for('studentpost', studentpost_id=post.id) }}">
                            <div id="postTypeTitle">{{ post.title }}</div>
                            <div id="postAuthorTime">
                                by {{ post.author }} on {{ post.date_posted.strftime('%b %d, %Y') }}
                                at {{ post.date_posted.strftime('%I' ':' '%M %p') }}
                            </div>
                        </a>
                        <hr>
                    </div>

                {% endfor %}
            </div>
        </div> <!-- end Row 4 - posts -->

    </div> <!-- end Main Content -->















    {#<a href="{{ url_for('add_student_post') }}">Add New Post</a>#}
    {##}
    {#    <div class="column right" id="studentPosts">#}
    {#        <div class="cardContainer">#}
    {#            <h3>Community Forums</h3>#}
    {#            {% for post in student_posts %}#}
    {#                <div>#}
    {#                    <a href="{{ url_for('studentpost', studentpost_id=post.id) }}">#}
    {#                        <div id="postTypeTitle">[{{ post.type|upper }}] {{ post.title }}</div>#}
    {#                        <div id="postAuthorTime">#}
    {#                            by {{ post.author }} on {{ post.date_posted.strftime('%b %d, %Y') }}#}
    {#                            at {{ post.date_posted.strftime('%I' ':' '%M %p') }}#}
    {#                        </div>#}
    {#                    </a>#}
    {#                    <hr>#}
    {#                </div>#}
    {##}
    {#            {% endfor %}#}
    {#        </div>#}
    {#    </div>#}




{% endblock %}
</body>
</html>
