<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Courses</title>


    <link rel="stylesheet" href="{{ url_for('static', filename='css/addCourses.css') }}">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" media="screen">

    <script type="text/javascript" src="//code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
</head>

<body>

{% extends "navbar.html" %}
{% block content %}
    {#                <h4>My Courses</h4>#}
    {#                {% for c in u_courses %}#}
    {#                <div id="tutor_courses">#}
    {#                {{ c.course_name }}#}
    {#                {% endfor %}#}


    <div id="main-content">

        <div class="row">
            <div class="col-sm-12">
                <a href="{{ url_for('profile') }}">
                    <button class="btn btn-primary" value="Return To Profile">
                        <i class="glyphicon glyphicon-arrow-left"></i> Return To Profile
                    </button>
                </a>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-8 course_title">
                <div class="title">Courses For {{ this_program.programName }}</div>
            </div>

            <div class="col-sm-4 change_btn">
                <a href="{{ url_for('profile_programs') }}">
                    <button class="btn btn-primary">Change Program</button>
                </a>
            </div>
        </div>

    </div>




    <h2>Courses For {{ this_program.programName }}
        <a href="{{ url_for('profile') }}">
        <button class="btn btn-primary warning ">Return To Profile</button>
    </a>
        <a href="{{ url_for('profile_programs') }}">
            <button class="btn btn-primary warning ">Change Program</button>
        </a>
    </h2>

    <form method="POST" action="">
        {{ form.csrf_token }}
        {{ form.course_options(class_='form-control') }} <br>
        <input type="submit" class="btn btn-primary" value="Add Course">
    </form> <br>

    <div id="myCourses">


        <div class="table-responsive">
            <table class="table table-hover table-fixed">
                <thead>
                <tr>
                    <th class="col-sm-2">Course_ID</th>
                    <th class="col-sm-3">Course Code</th>
                    <th class="col-sm-6">Course Name</th>
                </tr>
                </thead>

                {% for c in u_courses %}
                    <tbody>
                    <tr>
                        <td>{{ c.course_id }}</td>
                        <td>{{ c.course_code }}</td>
                        <td>{{ c.course_name }}</td>
                        <td>
                            <button class="btn btn-danger deleteUserCourse" course_id="{{ c.user_course_id }}"><i
                                    class="glyphicon glyphicon-trash"></i></button>
                        </td>
                    </tr>
                    </tbody>
                {% endfor %}

            </table>

        </div>

    </div>
    {##}
    {#                 <form method="POST" action="">#}
    {#                  <h2>Pick Courses</h2>#}
    {#                     {{ form.csrf_token }}#}
    {#                  {{ form.course_options(class_='form-control') }} <br>#}
    {#                     <input type="submit" class="btn btn-primary" value="Add Course">#}
    {#              </form><br>#}
    {#                <a href="{{ url_for('profile') }}" >#}
    {#                    <button class="btn btn-primary warning ">Return To Profile</button>#}
    {#                </a>#}
    {##}

{% endblock %}
</body>

</html>