<!--
  -- studentPosts.html
  -- Shows all posts all students have made.
  -->

<html lang=en>
<head>
    <meta charset=utf-8>

    <title>View Student Posts</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/viewPost.css') }}">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" media="screen">
</head>

<body>

{% extends "navbar.html" %}
{% block content %}

    <div id="bg">

        {#    <div class="main-content">#}

        <!-- Row 1 -->
        <div class="row">
            <div class="col-sm-12">
                <a href="{{ url_for('add_student_post') }}" class="addPost_link">Add New Post</a>
            </div>
        </div> <!-- end Row 1 - add post -->


        <!-- Row 2 -->
        <div class="row title1">
            <div class="col-sm-12">
                <span class="title2">Community Forums</span>
            </div>
        </div> <!-- end Row 2 - title -->


        <!-- Row 3 -->
        <div class="row">
            <div class="col-sm-12">
                <p>Sort / Search?</p>
            </div>
        </div> <!-- end Row 3 - sort search -->


        <br><br>


        <div class="tableFixHead">
            <table>
                <thead>
                <tr>
                    <th>Code</th>
                    <th>Course</th>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Date</th>
                    <th>Time</th>
                </tr>
                </thead>

                {% for post in student_posts %}
                    <tbody>
                    <tr>
                        <td>CODE1234</td>
                        <td>{{ post.post_course }}</td>
                        <td><a href="{{ url_for('studentpost', studentpost_id=post.id) }}">{{ post.title }}</a></td>
                        <td><a href="{{ url_for('pub_profile', username=post.author) }}">{{ post.author }}</a></td>
                        <td>{{ post.date_posted.strftime('%b %d, %Y') }}</td>
                        <td>{{ post.date_posted.strftime('%I' ':' '%M %p') }}</td>
                    </tr>
                    </tbody>
                {% endfor %}


            </table>
        </div>


    </div> <!-- end bg -->

{% endblock %}
</body>
</html>
