<!--
  -- tutorPosts.html
  -- Shows all posts all tutors have made.
  -->

<html lang=en>
<head>
    <meta charset=utf-8>

    <title>Available Tutors</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/viewTutorPosts.css') }}">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" media="screen">
</head>

<body>
{% extends "navbar.html" %}
{% block content %}

<div id="main-content">

    <!-- Row 1 -->
    <div class="row">
        <div class="col-sm-12">
            <h3>Available Tutors:</h3>
        </div>
    </div>


    <!-- for every tutor room, create 3 new rows -->
    {% for room in room_posts %}

        <div class="row row_main">

            <div class="row row_a">

                <div class="col-sm-2">

                    <div id="userPhoto">
                        <img src="{{ url_for('uploaded_file', filename=room.user_photo) }}" height="100px" width="100px" class="profilePic"/>
                    </div>

                </div><!-- end row_a col 1 -->

                <div class="col-sm-8">
                    <span class="showRoomTitle"><a href="{{ url_for('room', room_id=room.id) }}" class="showRoomTitle">{{ room.title }}</a></span><br>

                    <span class="showCourse">Course: {{ room.room_course }}</span><br>

                    <span>Course Code: {{ room.room_code }}</span><br>

                    <span class="showAuthor"> posted by <a href="{{ url_for('pub_profile', username=room.author) }}">{{ room.author }}</a></span>
                    <span class="showTime">at {{ room.date_posted.strftime('%I' ':' '%M %p') }}</span>
                </div>

                <div class="col-sm-2 postDate">
                    <span class="showDate">{{ room.date_posted.strftime('%b %d, %Y') }}</span>
                </div>
            </div> <!-- end row a -->








{#            <div class="row row_b">#}
{#                <div class="col-sm-12">#}
{#                    <a href="{{ url_for('room', room_id=room.id) }}">{{ room.title }}</a>#}
{#                </div><!-- end col -->#}
{#            </div> <!-- end row -->#}










{#            <div class="row row_c">#}
{#                <div class="col-sm-12">#}
{#                    {{ room.room_title }}#}
{#                </div><!-- end col -->#}
{#            </div> <!-- end row -->#}

        </div><!-- end main row -->


    {% endfor %}



</div>
{% endblock %}
</body>

</html>


{#

<div class="column middle" id="tutorPosts">

        <h3>Available Tutors:</h3>

        {% for room in room_posts %}

            <div>
                <a href="{{ url_for('room', room_id=room.id) }}">
                    <div id="postTypeTitle">{{ room.title }} - {{ room.room_title }}</div>
                    <div id="postAuthorTime">
                        by {{ room.author }} on {{ room.date_posted.strftime('%b %d, %Y') }}
                        at {{ room.date_posted.strftime('%I' ':' '%M %p') }}
                    </div>
                </a>
                <hr>
            </div>

        {% endfor %}

    </div> <!-- end middle column -->







#}










    {##}
    {##}
    {##}
    {#                        <a href="{{ url_for('room', room_id=room.id) }}">#}
    {#                    <div id="postTypeTitle">{{ room.title }} - {{ room.room_title }}</div>#}
    {#                    <div id="postAuthorTime">by {{ room.author }} on {{ room.date_posted.strftime('%b %d, %Y') }}at {{ room.date_posted.strftime('%I' ':' '%M %p') }}</div>#}
    {#                </a>#}
    {##}
    {##}
    {##}
    {##}
    {##}
    {##}
    {##}
    {##}
    {#        <div class="row">#}
    {#            <div class="col-sm-12">#}
    {#                <a href="{{ url_for('room', room_id=room.id) }}">#}
    {#                    <div id="postTypeTitle">{{ room.title }} - {{ room.room_title }}</div>#}
    {#                    <div id="postAuthorTime">by {{ room.author }} on {{ room.date_posted.strftime('%b %d, %Y') }}at {{ room.date_posted.strftime('%I' ':' '%M %p') }}</div>#}
    {#                </a>#}
    {#            </div> <!-- end col -->#}
    {#        </div> <!-- end row -->#}
    {##}
    {##}
    {##}
    {#        <div class="row">#}
    {#            <div class="col-sm-12">#}
    {#                <a href="{{ url_for('room', room_id=room.id) }}">#}
    {#                    <div id="postTypeTitle">{{ room.title }} - {{ room.room_title }}</div>#}
    {#                    <div id="postAuthorTime">by {{ room.author }} on {{ room.date_posted.strftime('%b %d, %Y') }}at {{ room.date_posted.strftime('%I' ':' '%M %p') }}</div>#}
    {#                </a>#}
    {#            </div> <!-- end col -->#}
    {#        </div> <!-- end row -->#}









