<!-- HTML Template By: Emma Hobden -->

<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Register</title>

    <link rel="stylesheet" href="{{url_for('static', filename='css/cardStyleForm.css')}}">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" media="screen">

        <script type="text/javascript" src="//code.jquery.com/jquery-3.2.1.min.js"></script>

    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
</head>
<body>
{% extends "navbar.html" %}
{% block content %}

<div id="main-section">

    <div id="regForm">

        <div id="formTitle">Tutor Application</div>

{#        <h4>Tutor Courses</h4>#}
{#        {% for c in t_courses %}#}
{#        <div id="tutorCourses">#}
{#        {{ c.course_name }}#}
{#        {% endfor %}#}

                    <div id="myCourses">


                    <div class="table-responsive">
                    <table class="table table-hover table-fixed">
                        <thead><tr>
                                <th class="col-sm-2">Course_ID</th>
                                <th class="col-sm-3">Course Code</th>
                                <th class="col-sm-6">Course Name</th>
                                <ht class="col-sm-6">Delete</ht>
                        </tr></thead>

                        {% for t in t_courses %}
                            <tbody>
                            <tr>
                                <td>{{ t.course_id }}</td>
                                <td>{{ t.course_code }}</td>
                                <td>{{ t.course_name }}</td>
                                <td><button class="btn btn-danger deleteTutorCourse" course_id="{{ t.tutor_course_id }}"><i class="glyphicon glyphicon-trash"></i></button></td>
                            </tr>
                            </tbody>
                        {% endfor %}

                    </table>

                </div>

                </div>

    </div>
        <form method="post" enctype="multipart/form-data">
                <div>
                    {{ course_form.tutor_courses(id='tutorcourse') }}
                </div>
                {{ form.tutor_courses }}
            <button class="btn btn-info addTutorCourse" course_id="{{ course_form.tutor_courses.data }}">Add Course</button>
            <button class="btn btn-info clearTutorCourses">Clear Course</button>
        </form>

        <hr>
            <form method="post" enctype="multipart/form-data">
                {{ form.hidden_tag() }}
                {{ form.about_tutor (class_='form-control', placeholder='Tell us why we should hire you!', autocomplete='off') }}<br>
                <div>
                    {{ form.credentials_file }}
                </div>
                <button type=submit class="btn btn-info">Apply</button>
                {{ form.csrf_token }}
            </form>

    <a href="{{ url_for('home') }}">Change your mind? Return home.</a>

    </div>


</div>
{% endblock %}
</body>
</html>
