<!--
  -- tutorPosts.html
  -- Shows all posts all tutors have made.
  -->

<html lang=en>
<head>
    <meta charset=utf-8>

    <title>View Student Posts</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/viewPost.css') }}">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" media="screen">
</head>

<body>
{% extends "navbar.html" %}
{% block content %}


    <div class="column middle" id="tutorPosts">

        <h3>Available Tutors:</h3>

        {% for room in room_posts %}

            <div>
                <a href="{{ url_for('room', room_id=room.id) }}">
                    <div id="postTypeTitle">{{ room.title }} - {{ room.room_title }}</div>
                    <div id="postAuthorTime">
                        by {{ room.author }} on {{ room.date_posted.strftime('%b %d, %Y') }}
                        at {{ room.date_posted.strftime('%I' ':' '%M %p') }}
                    </div>
                </a>
                <hr>
            </div>

        {% endfor %}

    </div> <!-- end middle column -->

{% endblock %}
</body>

</html>