<!--
  -- tutorPosts.html
  -- Shows all posts all tutors have made.
  -->

<html lang=en>
<head>
    <meta charset=utf-8>

    <title>Available Tutors</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/viewTutorPosts.css') }}">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" media="screen">

        <script type="text/javascript" src="//code.jquery.com/jquery-3.2.1.min.js"></script>

{#    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>#}

    <script>

    $(document).ready(function () {

    $('#createRoom').hide()

        var role = `{{ role_name }}`;

        if (role === 'Tutor' || role === 'Admin' ) {

                $('#createRoom').show()

        }


        });


</script>

</head>

<body>
{% extends "navbar.html" %}
{% block content %}


    <div id="main_container">

{#        <!-- Row 2 -->#}
{#        <div class="row add_room">#}
{#            <div class="col-sm-12">#}
{##}
{#                <a href="{{ url_for('add_room') }}">#}
{#                    <button class="btn btn-warning">#}
{#                        <i class="glyphicon glyphicon-plus-sign"></i>#}
{#                    </button>#}
{#                </a>#}
{#            </div>#}
{#        </div> <!-- end row 2 -->#}


        <div id="top_container">

<br>

            <div class="row">
                <div class="col-sm-12">
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            <ul class=flashes>
                                {% for message in messages %}
                                    <li>{{ message }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    {% endwith %}

                    <form method="POST" action="">
                        {{ search_form.csrf_token }}
                        {{ search_form.select(class_='form-control filter_type') }}<br>
                        {{ search_form.search(class_='form-control filter_string', placeholder='Search Rooms') }} <br>
                        <input type="submit" class="btn btn-primary" value="Search">
                        <a href="{{ url_for('allrooms') }}">
                            <input type="" class="btn btn-warning" value="Reset Values">
                        </a><a href="{{ url_for('add_room') }}">
                            <input type="" id="createRoom" class="btn btn-primary create_new" value="Create New Room">
                        </a>
                    </form>

                    <br><br>

                </div>
            </div> <!-- end row 1 -->

            <!-- Row 2 -->
            <div class="row title1">
                <div class="col-sm-12">
                    <span class="title2">Open Rooms</span>
                </div>
            </div> <!-- end row 2 -->

        </div>


        <div id="bottom_container">
            <!-- for every tutor room, create 3 new rows -->
            {% for room in room_posts %}

                <div class="row_a_container">
                <div class="row row_a">

                    <div class="col-sm-2">
                        <div id="userPhoto">
                            <img src="{{ url_for('uploaded_file', filename=room.user_photo) }}" height="100px" width="100px" class="profilePic"/>
                        </div>

                    </div><!-- end row_a col 1 -->

                    <div class="col-sm-8">
                        <span class="showRoomTitle">
                            <a href="{{ url_for('room', room_id=room.id) }}" class="showRoomTitle">{{ room.room_title }}</a>
                        </span><br>
                        <span class="showCourse">Course: {{ room.room_course }}</span><br>
                        <span>Course Code: {{ room.room_code }}</span><br>
                        <span class="showAuthor"> posted by
                            <a href="{{ url_for('pub_profile', username=room.author) }}">{{ room.author }}</a>
                        </span>
                        <span class="showTime">at {{ room.date_posted.strftime('%I' ':' '%M %p') }}</span>
                    </div>

                    <div class="col-sm-2 postDate">
                        <span class="showDate">{{ room.date_posted.strftime('%b %d, %Y') }}</span>
                    </div>

                </div> <!-- end row a -->
                </div>
            {% endfor %}

        </div>

    </div>

<

{#<script>#}
{##}
    {#let userRole = "{{ role_name }}";#}
{#    let userRole = "{{ role_name }}";#}
{#    let tutorStatus = "{{ t_status }}";#}
{##}
{#    document.onload = function (event) {#}
{##}
{##}
{#            document.getElementById("createRoom").style.display = "none";#}
{##}
{##}
{#        if (userRole === 'Student') {#}
{##}
{#            document.getElementById("createRoom").style.display = "none";#}
{##}
{#        }#}
{##}
{#        else if (userRole === 'Tutor') {#}
{##}
{#            document.getElementById("createRoom").style.display = "block";#}
{#        }#}
{##}
{#        else if (userRole === 'Admin') {#}
{##}
{#            document.getElementById("createRoom").style.display = "block";#}
{##}
{##}
{#        }#}
{##}
{##}
{##}
{##}
{#    }#}
{##}
{#</script>#}


{% endblock %}


{#<script type="text/javascript" src="//code.jquery.com/jquery-3.2.1.min.js"> </script>#}
{##}
{#<script>#}
{##}
{#    $(document).ready(function () {#}
{##}
{#    $('#createRoom').hide()#}
{##}
{##}
{#        });#}
{##}
{##}
{#</script>#}
</body>
</html>




{#    <div id="main-content">#}
{##}
{##}
{#        <div class="row">#}
{##}
{#            <div class="col-sm-12">#}
{##}
{#                {% with messages = get_flashed_messages() %}#}
{#                    {% if messages %}#}
{#                        <ul class=flashes>#}
{#                            {% for message in messages %}#}
{#                                <li>{{ message }}</li>#}
{#                            {% endfor %}#}
{#                        </ul>#}
{#                    {% endif %}#}
{#                {% endwith %}#}
{##}
{#                <form method="POST" action="">#}
{#                    {{ search_form.csrf_token }}#}
{#                    {{ search_form.select(class_='form-control') }} <br>#}
{#                    {{ search_form.search(class_='form-control', placeholder='Search Rooms') }} <br>#}
{#                    <input type="submit" class="btn btn-primary" value="Search">#}
{#                </form>#}
{##}
{#                <a href="{{ url_for('allrooms') }}">#}
{#                    <button class="btn btn-primary warning ">All Rooms</button>#}
{#                </a>#}
{##}
{#                <br><br>#}
{##}
{#            </div>#}
{#        </div> <!-- end row 1 -->#}
{##}
{##}
{#        <!-- Row 2 -->#}
{#        <div class="row">#}
{#            <div class="col-sm-12">#}
{#                <h3>Available Tutors:</h3>#}
{#            </div>#}
{#        </div> <!-- end row 2 -->#}
{##}
{##}
{#        <div class="row row_postContent">#}
{##}
{##}
{#            <!-- for every tutor room, create 3 new rows -->#}
{#            {% for room in room_posts %}#}
{##}
{#                <div class="row row_main">#}
{##}
{#                    <div class="row row_a">#}
{##}
{#                        <div class="col-sm-2">#}
{##}
{#                            <div id="userPhoto">#}
{#                                <img src="{{ url_for('uploaded_file', filename=room.user_photo) }}" height="100px"#}
{#                                     width="100px" class="profilePic"/>#}
{#                            </div>#}
{##}
{#                        </div><!-- end row_a col 1 -->#}
{##}
{#                        <div class="col-sm-8">#}
{#                            <span class="showRoomTitle">#}
{#                                <a href="{{ url_for('room', room_id=room.id) }}"#}
{#                                   class="showRoomTitle">{{ room.title }}</a>#}
{#                            </span><br>#}
{##}
{#                            <span class="showCourse">Course: {{ room.room_course }}</span><br>#}
{##}
{#                            <span>Course Code: {{ room.room_code }}</span><br>#}
{##}
{#                            <span class="showAuthor"> posted by#}
{#                                <a href="{{ url_for('pub_profile', username=room.author) }}">{{ room.author }}</a>#}
{#                            </span>#}
{#                            <span class="showTime">at {{ room.date_posted.strftime('%I' ':' '%M %p') }}</span>#}
{#                        </div>#}
{##}
{#                        <div class="col-sm-2 postDate">#}
{#                            <span class="showDate">{{ room.date_posted.strftime('%b %d, %Y') }}</span>#}
{#                        </div>#}
{#                    </div> <!-- end row a -->#}
{##}
{##}
{#                </div><!-- end main row -->#}
{##}
{##}
{#            {% endfor %}#}
{##}
{##}
{#        </div>#}
{##}
{##}
{#    </div> <!-- end main content -->#}









{#            <div class="row row_b">#}
{#                <div class="col-sm-12">#}
{#                    <a href="{{ url_for('room', room_id=room.id) }}">{{ room.title }}</a>#}
{#                </div><!-- end col -->#}
{#            </div> <!-- end row -->#}


{#            <div class="row row_c">#}
{#                <div class="col-sm-12">#}
{#                    {{ room.room_title }}#}
{#                </div><!-- end col -->#}
{#            </div> <!-- end row -->#}


{#

<div class="column middle" id="tutorPosts">

        <h3>Available Tutors:</h3>

        {% for room in room_posts %}

            <div>
                <a href="{{ url_for('room', room_id=room.id) }}">
                    <div id="postTypeTitle">{{ room.title }} - {{ room.room_title }}</div>
                    <div id="postAuthorTime">
                        by {{ room.author }} on {{ room.date_posted.strftime('%b %d, %Y') }}
                        at {{ room.date_posted.strftime('%I' ':' '%M %p') }}
                    </div>
                </a>
                <hr>
            </div>

        {% endfor %}

    </div> <!-- end middle column -->







#}


{##}
{##}
{##}
{#                        <a href="{{ url_for('room', room_id=room.id) }}">#}
{#                    <div id="postTypeTitle">{{ room.title }} - {{ room.room_title }}</div>#}
{#                    <div id="postAuthorTime">by {{ room.author }} on {{ room.date_posted.strftime('%b %d, %Y') }}at {{ room.date_posted.strftime('%I' ':' '%M %p') }}</div>#}
{#                </a>#}
{##}
{##}
{##}
{##}
{##}
{##}
{##}
{##}
{#        <div class="row">#}
{#            <div class="col-sm-12">#}
{#                <a href="{{ url_for('room', room_id=room.id) }}">#}
{#                    <div id="postTypeTitle">{{ room.title }} - {{ room.room_title }}</div>#}
{#                    <div id="postAuthorTime">by {{ room.author }} on {{ room.date_posted.strftime('%b %d, %Y') }}at {{ room.date_posted.strftime('%I' ':' '%M %p') }}</div>#}
{#                </a>#}
{#            </div> <!-- end col -->#}
{#        </div> <!-- end row -->#}
{##}
{##}
{##}
{#        <div class="row">#}
{#            <div class="col-sm-12">#}
{#                <a href="{{ url_for('room', room_id=room.id) }}">#}
{#                    <div id="postTypeTitle">{{ room.title }} - {{ room.room_title }}</div>#}
{#                    <div id="postAuthorTime">by {{ room.author }} on {{ room.date_posted.strftime('%b %d, %Y') }}at {{ room.date_posted.strftime('%I' ':' '%M %p') }}</div>#}
{#                </a>#}
{#            </div> <!-- end col -->#}
{#        </div> <!-- end row -->#}









