<html lang=en>
<head>
    <meta charset=utf-8>
    <style>
        @import url('https://fonts.googleapis.com/css?family=Beth+Ellen&display=swap');
        @import url('https://fonts.googleapis.com/css?family=Dosis:200&display=swap');
    </style>

    <title> fixQuick Chatkit </title>

    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/chat.css')}}">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" media="screen">
</head>

<body>

    <div class="navbar">
        <a class="logo" href="{{ url_for('home', chtName=chtName) }}">Home</a>
        <a href="{{ url_for('profileStudent', chtName=chtName) }}">{{ chtName }}</a>
        <a href="#">Forums</a>
        <a href="{{ url_for('sessions', chtName=chtName) }}" >Chat</a>
        <a href="#">Saved</a>
        <a href="{{ url_for('login') }}"> Logout </a>
    </div>



    <div id="chatInfo">
        <h2> Hello {{ firstName }}</h2>
        <h4>Current Time: 11:54pm | Running Session Time: 12m 14s</h4>
    </div>

    <div id="chatWindow">

        <ul id="message-list"></ul>

        <form id="message-form">
            <input type='text' id='message-text'>
            <input type="submit">
        </form>
    </div>

    <script src="https://unpkg.com/@pusher/chatkit-client@1/dist/web/chatkit.js"></script>
    <script>


      const tokenProvider = new Chatkit.TokenProvider({
        url: "https://us1.pusherplatform.io/services/chatkit_token_provider/v1/36e16942-3b74-4479-ba38-9c645865e6e5/token"
      });


        //uses name variable as chatkit id. must already exist.
      const chatManager = new Chatkit.ChatManager({
        instanceLocator: "v1:us1:36e16942-3b74-4479-ba38-9c645865e6e5",
        userId: "{{chtName}}",
        tokenProvider: tokenProvider
      });




      chatManager
        .connect()
        .then(currentUser => {
          currentUser.subscribeToRoomMultipart({
            roomId: {{ roomID }},
            hooks: {
              onMessage: message => {
                const ul = document.getElementById("message-list");
                const li = document.createElement("li");
                li.appendChild(
                  document.createTextNode(`${message.senderId}: ${

                    message.parts[0].payload.content
                  }`)
                );
                ul.appendChild(li);
              }
            }
          });

          const form = document.getElementById("message-form");
          form.addEventListener("submit", e => {
            e.preventDefault();
            const input = document.getElementById("message-text");
            currentUser.sendSimpleMessage({
              text: input.value,
              roomId: currentUser.rooms[0].id
            });
            input.value = "";
          });
        })
        .catch(error => {
          console.error("error:", error);
        });


    </script>
  </body>
</html>