<html lang=en>
<head>
    <meta charset=utf-8>
    <style>
        @import url('https://fonts.googleapis.com/css?family=Beth+Ellen&display=swap');
        @import url('https://fonts.googleapis.com/css?family=Dosis:200&display=swap');
    </style>

    <title> Admin Portal </title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/chat.css') }}">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" media="screen">


    <script type="text/javascript" src="//code.jquery.com/jquery-3.2.1.min.js"></script>

         <script src="{{ url_for('static', filename='js/jquery.js') }}">

    </script>
</head>

<body>

<div class="navbar">
    <a class="logo" href="#">Home</a>
    <a href="{{ url_for('profile', username=username) }}">{{ username }}</a>
    <a href="#">Forums</a>
    <a href="{{ url_for('chat', username=username) }}">Chat</a>
    <a href="{{ url_for('all_users') }}">Users</a>
    <a href="{{ url_for('logout') }}"> Logout </a>
</div>


<!-- div main section starts -->
<div id="main-section">


    <!-- Left Column - Join Room - Online Tutors etc -->
    <div id="left_column">

        <h5>Users </h5>
        {% for user in users_list %}
         <a href="{{ url_for('pub_profile', username=user.username)}}" >{{ user.username }}
            </a>{{ user.status }} {{ user.role }}<br>

        {% endfor %}<br>

        <div id="timerValue"></div>
        <button class="btn btn-primary timerButton">Timer date</button>


{#        <div id="roomSection{{ user.id }}" class="panel panel-default">#}
{#        <div class="panel-heading">#}
{#          <h3 class="panel-title">User Name: <span id="memberNumber{{ user.id }}">{{ user.username }} </span> Creator: {{ user.firstname }} </h3>#}
{#        </div>#}
{#        {% endfor %}<br>#}




    </div> <!-- end of left column -->

    <!-- Middle Column - Type Message area -->
    <div id="middle_column">
        {% for post in blog_posts %}

            <a href="{{ url_for('post', post_id=post.id) }}">
      <div id="roomSection{{ post.id }}" class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Room: <span id="memberNumber{{ post.id }}">{{ post.room_title }} </span> Creator: {{ post.author }} </h3>
        </div>
            </a>
        <div class="panel-body">
          <div class="form-inline">


                  <b>ID:</b> {{ post.id }} <b>Type:</b> {{ post.type }}<br>
            <div class="form-group">
              <label for="nameInput{{ post.id }}">Title</label>
              <input type="text" class="form-control" id="nameInput{{ post.id }}" value="{{ post.title }}">
            </div>
            <div class="form-group">
              <label for="emailInput{{ post.id }}">Room Name</label>
              <input type="text" class="form-control" id="titleInput{{ post.id }}" value="{{ post.room_title }}">
            </div>

            <div class="form-group">
              <label for="contentInput{{ post.id }}">Content</label>
              <input type="text" class="form-control" id="contentInput{{ post.id }}" value="{{ post.content }}">
            </div><br>

            <button class="btn btn-primary updateButton" post_id="{{ post.id }}">Update</button>

            <button class="btn btn-primary deleteButton" post_id="{{ post.id }}">Delete</button>
          </div>
        </div>
      </div>

      {% endfor %}

    </div><!-- end middle_column div -->


    <!-- right_column div -->
    <div id="right_column">
        <span id="currDate">{{ date_stamp }}</span>


          <div id="blog-posts">
            <a href="{{ url_for('add_post') }}">Add A Room Post</a> <br>
            <h5>View Recent Room Posts:</h5>

            {% for post in blog_posts %}
                <div>
                    <a href="{{ url_for('post', post_id=post.id) }}">
                        <div id="memberNumber"></div>
                        <h5>{{ post.type|upper }} : {{ post.room_title }} - {{ post.title }}</h5>
                        by {{ post.author }} on {{ post.date_posted.strftime('%b %d, %Y') }} at {{ post.date_posted.strftime('%I' ':' '%M %p') }} </a>
                </div>

            {% endfor %}

        </div>

    </div><!-- end right_column div -->

</div> <!--end main section-->


<script type="text/javascript">
    const username = `{{ username }}`;
    const mesage_object = `{{ message_object }}`
</script>

<!-- Custom Chat JS -->
<script src="{{ url_for('static', filename='js/chat_page.js') }}">

</script>
<!-- SocketIO JS -->
{#<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"#}
{#        integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>#}

<!-- CustomSocketIO JS -->
<script src="{{ url_for('static', filename='js/socketio.js') }}">


</script>

</body>
</html>


