<!-- HTML Template By: Emma Hobden -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile Page</title>

    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/profile.css')}}">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" media="screen">
</head>

    <script type="text/javascript">
    document.addEventListener('DOMContentLoaded', () => {
        var online_status = {{ status }}

       if (online_status==1) {

           document.querySelector('#online_stat').innerHTML = "Online"

       }
       else {

           document.querySelector('#online_stat').innerHTML = "Offline"
       }


       document.querySelector('changeStatus').onclick = () => {

       }
    })
    </script>
<body>
    <div class="navbar">
        <a class="logo" a href="#">Home</a>
        <a href="{{ url_for('profile') }}">{{ username }}</a>
        <a href="#">Forums</a>
        <a href="{{ url_for('chat') }}" >Chat</a>
        <a href="{{ url_for('all_users') }}">Users</a>
        <a href="{{ url_for('logout') }}"> Logout </a>
    </div>


    <div id="userInfo_bg">
        <div id="userInfo">
            <h1>Hello {{ firstname }} {{ lastname }}</h1>

            <h2>Username: {{ username }}</h2>
            <h2>Email: {{ email }}</h2>

            <h3>Credits: 0</h3>
            <div id="online_stat"> </div>
            <h3>Status: {{ status_string }} <button id="changeStatus">Button</button></h3>



            <h3>Role : {{ role_name }}</h3>

                <form method="post" enctype="multipart/form-data">
                    {{ file_form.hidden_tag() }}
                    {{ file_form.file }}
                    {{ file_form.csrf_token }}
                    <input type="submit">
                </form>
                <br>
                <br>


            {% for file in user_files %}
               <a href="{{ url_for('download', dl_name=file.file_name) }}">
                   <h5>{{ file.file_name }} </h5> </a>

            {% endfor %}
            <div id="profilePic"></div>
            <br>


            <h4><a href="{{ url_for('add_post') }}">Add New Post</a> </h4>
              {% for post in blog_posts %}
                    <a href="{{ url_for('post', post_id=post.id) }}">
                        <h5>{{ post.type|upper }} : {{ post.title }} - {{ post.subtitle }}</h5>
                        By {{ post.author }} on {{ post.date_posted.strftime('%B %d, %Y') }} </a>
            {% endfor %}

        </div>
    </div>
</body>
</html>
