<!-- HTML Template By: Emma Hobden -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile Page</title>

    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/profile.css')}}">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" media="screen">
</head>

    <script type="text/javascript">
    document.addEventListener('DOMContentLoaded', () => {
        var online_status = {{ status }}

       if (online_status==1) {

           document.querySelector('#online_stat').innerHTML = "Online"

       }
       else {

           document.querySelector('#online_stat').innerHTML = "Offline"
       }


       document.querySelector('changeStatus').onclick = () => {

       }
    })
    </script>
<body>
    <div class="navbar">
        <a class="logo" a href="#">Home</a>
        <a href="{{ url_for('profile') }}">{{ thisUser }}</a>
        <a href="#">Forums</a>
        <a href="{{ url_for('chat') }}" >Chat</a>
        <a href="{{ url_for('all_users') }}">Users</a>
        <a href="{{ url_for('logout') }}"> Logout </a>
    </div>


    <div id="userInfo_bg">
        <div id="userInfo">
            <h1>{{ firstname }} {{ lastname }}'s Profile:</h1>

            <h2>Username: {{ username }}</h2>
            <h2>Email: {{ email }}</h2>

            <div id="online_stat"> </div>
            <h3>Status: {{ status_string }} </h3>

            <h3>Role : {{ role_name }}</h3>
            <div id="profilePic"></div>

              {% for post in blog_posts %}
                    <a href="{{ url_for('post', post_id=post.id) }}">
                        <h5>{{ post.type|upper }} : {{ post.title }} - {{ post.subtitle }}</h5>
                        By {{ post.author }} on {{ post.date_posted.strftime('%B %d, %Y') }} </a>

            {% endfor %}

        </div>
    </div>
</body>
</html>
