<!-- HTML Template By: Emma Hobden -->

<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Register</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" media="screen">

</head>
<body>

<!-- NavBar - need to switch to general one -->
<div class="navbar">
    <a href="#">QuickFix Tutoring</a>
    <a href="#">How It Works</a>
    <a href="#">Contact</a>
    <a href="#"> </a>
    <a href="{{ url_for('login') }}">Already have an account? Login</a>
</div>

<div id="main-section">


    <!-- Switch between forms on click-->
    <table id="chooseFormType">
        <tr>
            <td><p id="stud" onclick="showStudentForm()">I'm a Student</p></td>
            <td><p id="tut" onclick="showTutorForm()">I'm a Tutor</p></td>
        </tr>
    </table>

    <!-- Student Register Form -->
    <div id="student_regForm">
        <form action="{{ url_for('new_student_test') }}" method="post">
            <div>
                {{ stud_form.username(class_='form-control', placeholder='Username', autocomplete='off', autofocus=true) }}
                <ul>
                    {% for error in stud_form.username.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>

            <div>
                {{ stud_form.firstname(class_='form-control', placeholder='First name', autocomplete='off') }}
                <ul>
                    {% for error in stud_form.firstname.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>

            <div>
                {{ stud_form.lastname(class_='form-control', placeholder='Last name', autocomplete='off') }}
                <ul>
                    {% for error in stud_form.lastname.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>

            <div>
                {{ stud_form.email(class_='form-control', placeholder='Email', autocomplete='off') }}
                <ul>
                    {% for error in stud_form.email.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>


            <div>
                {{ stud_form.password(class_='form-control', placeholder='Password') }}
                <ul>
                    {% for error in stud_form.password.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>

            <div>
                {{ stud_form.confirm_pswd(class_='form-control', placeholder='Retype Password') }}
                <ul>
                    {% for error in stud_form.confirm_pswd.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div>
                {{ stud_form.submit_button1(class_="regButton") }}
            </div>

            {{ stud_form.csrf_token }}
        </form>
    </div>


    <!-- Tutor Register Form -->
    <div id="tutor_regForm">
        <form action="{{ url_for('new_student_test') }}" , method="post">
            <div>
                {{ tut_form.username(class_='form-control', placeholder='Username', autocomplete='off', autofocus=true) }}
                <ul>
                    {% for error in tut_form.username.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>

            <div>
                {{ tut_form.firstname(class_='form-control', placeholder='First name', autocomplete='off') }}
                <ul>
                    {% for error in tut_form.firstname.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>

            <div>
                {{ tut_form.lastname(class_='form-control', placeholder='Last name', autocomplete='off') }}
                <ul>
                    {% for error in tut_form.lastname.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>

            <div>
                {{ tut_form.email(class_='form-control', placeholder='Email', autocomplete='off') }}
                <ul>
                    {% for error in tut_form.email.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>



            <div>
                {{ tut_form.occupation(class_='form-control', placeholder='Occupation', autocomplete='off') }}
                <ul>
                    {% for error in tut_form.occupation.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>


            <div>
                {{ tut_form.password(class_='form-control', placeholder='Password') }}
                <ul>
                    {% for error in tut_form.password.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>

            <div>
                {{ tut_form.confirm_pswd(class_='form-control', placeholder='Retype Password') }}
                <ul>
                    {% for error in tut_form.confirm_pswd.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div>
                {{ tut_form.submit_button2(class_="regButton") }}
            </div>

            {{ tut_form.csrf_token }}
        </form>

    </div>
</div>

<!-- Scripts to style elements on student click -->
<script>
    function showStudentForm() {
        document.getElementById("student_regForm").style.display = "block";
        document.getElementById("tutor_regForm").style.display = "none";

        document.getElementById("stud").style.backgroundColor = "white";
        document.getElementById("stud").style.color = "darkslategrey";

        document.getElementById("tut").style.backgroundColor = "darkslategrey";
        document.getElementById("tut").style.color = "lightgrey";
    }
</script>

<!-- Scripts to style elements on tutor click -->
<script>
    function showTutorForm() {
        document.getElementById("student_regForm").style.display = "none";
        document.getElementById("tutor_regForm").style.display = "block";

        document.getElementById("tut").style.backgroundColor = "white";
        document.getElementById("tut").style.color = "darkslategrey";

        document.getElementById("stud").style.backgroundColor = "darkslategrey";
        document.getElementById("stud").style.color = "lightgrey";
    }
</script>

</body>
</html>
